@charset "utf-8";

@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);

/* reset */
html {margin:0;padding:0;height:100%}
body {margin:0;padding:0;width:100%; height:100%; font-family:'Noto Sans Korean','맑은 고딕','malgun gothic','돋움',dotum,sans-serif; font-size:14px; line-height:1.2; color:#000; letter-spacing:-1px}
div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,form,fieldset,input,table,tr,th,td,button,textarea,select {margin:0;padding:0}
h1, h2, h3, h4, h5, h6{font-size:100%;font-weight:normal}
img {border:0;vertical-align:top}
ul,ol,dl,dt,dd,li {list-style:none; word-break:break-word}
table {width:100%; table-layout:fixed}
table, th, td {border-collapse:collapse;border-spacing:0; border:0; font-weight:normal;word-wrap:break-word}
caption {overflow:hidden;width:0; height:0;font-size:0;line-height:0}
legend {overflow:hidden;width:0; height:0;font-size:0;line-height:0;}
fieldset, blockquote, iframe, button {border:none}
i, em, u, cite {font-style:normal}
strong,em, b {font-weight:normal}
a {color:#666;text-decoration:none; font-family:'Noto Sans Korean'}
a:hover {color:#666}
button {width:auto; border:none;cursor:pointer;vertical-align:middle;margin:0; padding:0; outline:none;*overflow:visible; background:none; letter-spacing:-1px}
button::-moz-focus-inner {margin:0;padding:0;border:0}
button > span {position:relative}
button,input[type="submit"], input[type="button"], input[type="reset"] {cursor:pointer; border:0}

input {padding:0; margin:0; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; width:100%; padding:0; height:28px; line-height:28px; font-size:18px; font-family:'NotoSans','맑은 고딕','malgun gothic','돋움',dotum,sans-serif; border:1px solid #ccc; color:#000; border:none; letter-spacing:-1px}
input[type="file"] {display:inline-block; height:38px; border:1px solid #666; line-height:38px; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;  box-sizing:border-box}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;} /* input number 기본 버튼 reset*/
input[type="text"]::-ms-clear {display: none;}
input[disabled] {background:#fff}
*::-webkit-input-placeholder {color:#888 !important;font-size:14px !important;}/* 220425 수정 */
*:-moz-placeholder {color:#888 !important;} /* FF 4-18 */
*::-moz-placeholder {color:#888 !important} /* FF 19+ */
*:-ms-input-placeholder {color:#888 !important} /* IE 10+ */
sup {position: relative; margin-top:-5px; display:inline-block; /*vertical-align:top;*/ text-indent: 0;}
select {height:30px; margin:0; padding:0; appearance: none; -webkit-appearance: none; -moz-appearance: none;  background:url('/assets/images/onsale_tel/common/bg_selectbox_arrow.png') no-repeat 95% 11px; border:none; font-size:16px; line-height:30px; word-wrap:break-word; color:#000}



/* common Style */
/* 공통 */
.ir {display:block;overflow:hidden; width:1px; height:1px; margin:-1px; font-size:1px; text-indent:-9999em; line-height:0}
.hide {overflow:hidden; position:absolute; top:-9999px; left:-9999px; width:0; height:0; line-height:0; }
.tblock {display:block !important}
.inlineB {display:inline-block !important}
.pc_block {display:block !important} /* pc에서만 block 처리용*/
.m_block {display:none !important} /* mobile에서만 block 처리용*/

/* 텍스트 정렬*/
.txtL {text-align:left !important}
.txtR {text-align:right !important}
.txtC {text-align:center !important}
.txtB {font-family:'NotoSansBold' !important}
.txtN {font-family:'NotoSans' !important}
.txtT {font-family:'NotoSansThin' !important}

/* margin */
.txt_mt5 {margin-top:5px !important;}
.txt_mt10 {margin-top:10px !important;}
.txt_mt15 {margin-top:15px !important;}
.txt_mt20 {margin-top:20px !important;}
.txt_mb5 {margin-bottom:5px !important;}
.txt_mb10 {margin-bottom:10px !important;}
.txt_mb15 {margin-bottom:15px !important;}
.txt_mb20 {margin-bottom:20px !important;}

/* 텍스트 컬러 */
.color_bk0 {color:#000 !important}
.color_gy6 {color:#666 !important}
.color_gy8 {color:#888 !important}
.color_gy9 {color:#999 !important}

.point_color01 {color:#ff626f !important}
.point_color02 {color:#6c7688 !important}
.overPoint_color01{color:#ff626f !important}

/* float Box*/
.float_box {overflow:hidden}
.float_box:after {content:''; clear:both; display:block}
.float_box .left_box{float:left}
.float_box .right_box {float:right}
.float_box .float_none {float:none}

/* position Box (부모) */
.position_box {position:relative}

/*  button */
.btn {display:inline-block; width:auto; vertical-align:middle; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; text-align:center}

.btn.bigBtn01, .btn.bigBtn02 {font-family:'NotoSansBold';}
.btn.bigBtn01 {margin:0; padding:0 30px; height:60px; font-size:20px; background:#000; color:#fff; line-height:60px}
.btn.bigBtn02 {margin:0; padding:0 28px; height:60px; font-size:20px; background:#fff; border:1px solid #ccc; color:#000; line-height:58px}
.btn.bigBtn03 {margin:0; padding:0 28px; height:60px; font-size:20px; background:#f4f4f4; border:1px solid #000; color:#000; line-height:58px}
.btn.bigBtn04 {margin:0; padding:0 28px; height:60px; font-size:20px; background:#fff; border:1px solid #000; color:#666; line-height:58px}/* 170801 추가 */
.btn.midBtn01 {margin:0; padding:0 30px; min-width:120px; height:50px; font-size:18px; background:#000; color:#fff; line-height:50px}
.btn.midBtn02 {margin:0; padding:0 28px; min-width:120px; height:50px; font-size:18px; background:#fff; border:1px solid #ccc; color:#000; line-height:48px}
.btn.midBtn03 {margin:0; padding:0 30px; height:50px; font-size:18px; background:#888; color:#fff; line-height:50px}
.btn.midBtn04 {margin:0; padding:0 28px; height:50px; font-size:18px; background:#fff; border:1px solid #000; color:#000; line-height:48px}
.btn.midBtn05 {margin:0; padding:0 18px; width:auto; height:50px; font-size:16px; background:#fff; border:1px solid #000; color:#666; line-height:48px}
.btn.smlBtn01 {margin:0; padding:0 20px; height:40px; font-size:16px; background:#fff; border:1px solid #666; color:#666; line-height:38px}
.btn.smlBtn02 {margin:0; padding:0 20px; height:40px; font-size:16px; background:#fff; border:1px solid #ccc; color:#000; line-height:38px}
.btn.smlBtn03 {margin:0; padding:0 20px; height:40px; font-size:16px; background:#000; border:1px solid #000; color:#fff; line-height:38px}
.btn.smlBtn04 {margin:0; padding:0 25px; height:40px; font-size:16px; background:#fff; border:1px solid #000; color:#000; line-height:38px}
.btn.smlBtn05 {margin:0; padding:0 30px; height:40px; font-size:16px; border:1px solid #fff; color:#fff; line-height:38px}
.btn.smlBtn06 {margin:0; padding:0 30px; height:40px; font-size:16px; background:#fff; border:1px solid #000; color:#666; line-height:38px}
.btn.smlBtn07 {margin:0; padding:0 30px; height:40px; font-size:16px; background:#fff; border:1px solid #9f9f9f; color:#a9a9a9; line-height:38px}

.btn.sSmlBtn01 {margin:0; padding:0 25px; height:40px; font-size:16px; background:#fff; border:1px solid #666; color:#666; line-height:38px}

.btn.wideBtn01 {display:table-cell; margin:0; padding:0; height:158px; background:#fff; font-size:20px; color:#000; line-height:24px; vertical-align:middle}
.btn.wideBtn01 .btxt {padding:0}

.btn.disble {border:0;background:#e0e0e0;color:#fff;cursor:default;}/* 201015 [UI/UX개선 추가 */

/* btn_wrap*/
.btn_wrap {margin-top:40px; text-align:center} /* 공통 여백 : 40px (170428)*/
.btn_wrap:after {content:''; clear:both; display:block}
.btn_wrap.btn_alignL {text-align:left !important}
.btn_wrap.btn_alignR {text-align:right !important}
.btn_wrap .btn+.btn,
.btm_grouping  .btn+.btn {margin-left:6px;}
.btn_wrap.typeR1 {margin-top:-20px; text-align:right}
.btn_wrap.typeR2 {margin-top:-20px}
.btn_wrap.mg_ss { margin-top:10px;}
.btn_wrap.mg_s {margin-top:20px}
.btn_wrap.mg_mm {margin-top:30px}
.btn_wrap.mg_m {margin-top:40px}
.btn_wrap.mg_l {margin-top:60px}
.btn_absR { position:absolute; top:-20px; right:0}
.btn_wrap.wideBtn {display:table; margin:39px auto 0; width:798px;}
.btn_wrap.wideBtn .btn {position:relative; width:400px; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;border:1px solid #ccc}
.btn_wrap.wideBtn .btn:first-child {border-right:none}

/* 버튼 + 페이징 + 문구 정렬 시  */
.btm_grouping {clear:both; position:relative;}
.btm_grouping:after {content:''; clear:both; display:block}
.btm_grouping {padding:90px 0 0}
.btm_grouping .after_cnt {position:absolute; top:20px; left:0}
.btm_grouping .after_cnt.txtR {left:auto; right:0}

.after_cnt_area { margin-top:40px;} /* 페이징 다음 문구 정렬 시 */

.cont_btminfo {display:inline-block; font-size:18px; color:#666}
.cont_btminfo .txtB {font-family:'NotoSansBold'; color:#000; line-height:22px}
.cont_btminfo + .btn {margin-left:14px} /* 인접한 경우의 여백 재조정*/
.cont_btminfo.stitle03 {display:inline-block; margin:0; font-size:18px; color:#666} /*신청 서류*/

/* 버튼 아래 테이블이 오는 경우  */
.btn_wrap + .tab_wrap {margin-top:40px}


/* title */
.title_wrap {position:relative} /* title + 우측 텍스트만 올 경우 */
.title_wrap .txt_sup {position:absolute; bottom:0; right:0; font-size:16px; color:#6c7688}
.txt_sup {margin:20px 0 13px; font-size:16px; color:#6c7688; text-align:right}
/* 큰 제목 */
.title01 {margin:0 0 36px; font-size:40px; font-family:'NotoSansBold'; line-height:44px}
.title01.sm01 {margin:0 0 17px}
.title02 {margin:0 0 20px; font-size:26px; line-height:30px}
.title02.sm01 {margin:0 0 13px}
.title02.tm01 {margin-top:56px}
.title02.mm01 {margin:0 0 38px}
.title03 {display:block; margin:0 0 33px; font-size:20px; color:#888; line-height:24px}
.title03.sm01 {margin:0 0 27px}
.title04 {margin:0 0 33px; font-size:20px; color:#000; line-height:24px}
.title04.tm01 {margin-top:30px}
.title05 {margin-bottom:10px; font-family:'NotoSansBold'; font-size:30px; text-align:center}
.thin {font-weight:normal; font-family:'NotoSans'}

.visual_txt {margin:0 0 38px; font-size:36px; line-height:42px; text-align:center; font-family:'NotoSansThin';letter-spacing:-0.05em}

/* 소제목 */
.stitle01 {display:block; margin:38px 0 20px; font-size:18px; font-family:'NotoSansBold'}
.stitle01.first {margin-top:0 !important}
.stitle02 {display:block; margin:0 0 18px; font-size:18px; color:#000; }
.stitle02.gy {color:#666 !important}
.stitle03 {display:block; margin:0 0 18px; font-size:16px; color:#666}
.stitle03.lg01 {margin:0 0 38px}
.stitle04 {display:block; margin:18px 0 20px; font-size:18px; color:#000}
.stitle04.first {margin-top:0 !important}
.stitle05 {display:block; margin:18px 0 20px; font-size:16px; color:#000}

/* 문장 */
.txt01 {display:block; margin:38px 0 18px; font-size:18px; font-family:'NotoSansBold'; line-height:1.5}
.txt01.first {margin-top:0 !important}
.txt02 {display:block; margin:0 0 16px; font-size:18px; color:#000; line-height:1.5}
.txt03 {margin:0 0 16px; font-size:16px; color:#666; line-height:1.5}
.txt03.lg01 {margin:0 0 36px}
.txt04 {display:block; margin:18px 0 18px; font-size:18px; color:#000; line-height:1.5}
.txt04.first {margin-top:0 !important}
.txt05 {display:block; margin:18px 0 18px; font-size:16px; color:#000; line-height:1.5}
.txt05.sm01 {margin:0}
.txt05.lg01 {margin:0 0 36px}
.txt06 {display:block; font-size:20px; color:#666; line-height:1.5}
.txt06.lg01 {margin:0 0 25px}

/* txt 전용 title - 임시*/
.txt_tempo { font-size:16px; color:#000; line-height:24px}
.txt_spaceL {margin-left:20px !important}
.txt_help {margin-top:8px}

/* 배너 등 하위 설명 타이틀 */
.sub_tit01 {margin:0; font-size:16px; color:#000; line-height:24px}
.sub_tit01.sq {position:relative; margin:18px 0 0; padding:0 0 0 15px;}
.sub_tit01.sq:before {content:''; position:absolute; top:10px; left:0; width:4px; height:4px; background:#000; line-height:0}

/* input Style */
.inp_wrap {display:inline-block;}

input.input_nuber {width:200px;}
input.inputS {width:400px; font-size:18px;}
input.inputS.wide {width:700px; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}
input.inputB {width:100%; margin:0; padding:0 20px; height:50px; background:#fff; border:1px solid #ccc; font-size:18px; line-height:50px} /* bg fff + border Ccc*/
input.tel_nuber {width:100px;text-align:center;}
table table td .inputS {font-size:16px}
.fix_nber {display:inline-block;}
.hpn {display:inline-block;margin:0 5px;}

/* check box */
label.css-label {background-image:url('/assets/images/onsale_tel/common/ico_checkbox.png')}
input[type=checkbox].css-checkbox {overflow:hidden; position:absolute; left:-9000px; width:1px; height:1px; margin:-1px; padding:0; border:0; z-index:-1000;}
input[type=checkbox].css-checkbox+label.css-label {/*overflow:hidden;*/ position:relative; display:inline-block; min-width:26px; min-height:26px; padding-left:38px; vertical-align:middle; cursor:pointer; color:#000; line-height:24px; background-repeat:no-repeat; background-position:0 0; font-size:18px}
.checked > label.css-label {background-position:0 -117px !important;}
input[type=checkbox]:checked.css-checkbox +label.css-label {background-position:0 -117px;}
input[type=checkbox][disabled].css-checkbox+label.css-label {background-position:0 -224px;}
.chk_list > li {position:relative; display:inline-block; vertical-align:middle; margin-left:40px}
.chk_list > li:after {content:''; clear:both; display:block}
.chk_list > li:first-child {margin-left:0}
.chk_list.block > li {display:block; margin:8px 0 0 0}
.chk_list.block > li:first-child {margin-top:0}
.chk_list.n_label input[type=checkbox].css-checkbox+label.css-label {margin-top:-3px; padding-left:0; font-size:0}
input[type=checkbox]:focus + label:after {content:''; display:block; position:absolute; top:0; left:0; width:25px; height:25px; border:1px dotted #666}


/* selectBox */
table .select_wrap {border:none}
.select_wrap {position:relative; display:inline-block; height:50px; border:1px solid #ccc; line-height:1.2; text-align:left; vertical-align:middle; box-sizing:border-box}
.select_wrap select {padding:0 50px 0 20px; font-size:18px}
.select_wrap .selected {display:block; height:48px; line-height:48px; font-size:18px; color:#000; box-sizing:border-box}
.select_wrap .selected > span {display:block; padding:0 48px 0 20px}
.select_wrap .selected:after {content:""; position:absolute; right:0; top:0; width:48px; height:48px; background:#fff url('/assets/images/onsale_tel/common/bg_selectbox_arrow_active.png') no-repeat 50% 50%}
.select_wrap .selected.placeholder {color:#999}
.select_wrap .selected.placeholder:after {background-image:url('/assets/images/onsale_tel/common/bg_selectbox_arrow.png')}
.select_wrap .selected.disabled {color:#e3e3e3}
.select_wrap .selected.disabled:after {background-image:url('/assets/images/onsale_tel/common/bg_selectbox_arrow_disable01.png')}
.select_wrap.open .selected:after {background-image:url('/assets/images/onsale_tel/common/bg_selectbox_arrow_active.png'); z-index:11}
.select_list_wrap {position:absolute; top:-1px; left:-1px; width:100%; max-height:242px; border:1px solid #000; background:#fff; overflow:auto; z-index:10}
.select_list_wrap li {padding:7px 48px 8px 20px}
.select_list_wrap li a {display:block}
.select_list_wrap li span {display:inline-block; padding:6px 0; color:#000; font-size:18px}
.select_list_wrap li.on span {color:#ff626f; border-bottom:1px solid #ff626f}
.select_wrap + .select_wrap {margin-left:7px}
.select_txt {padding:0 5px}
.select_txt + .select_wrap {margin:0 0 0 20px} /* select + text : 셀렉트박스 월/년 영역 제어 */


/* popup */
.pop_wrap {position:relative; background:#fff}
.pop_wrap.size01 {min-width:800px}
.pop_wrap.size02 {min-width:1000px}
.pop_wrap.size03 {min-width:1100px}
.pop_wrap.size04 {min-width:900px} /* 170623 추가 */

.pop_wrap .pop_head {padding:0 40px; background:#000; height:80px; font-size:30px; color:#fff; line-height:80px}
.pop_wrap .pop_cont {padding:40px}

/* select box */
.pop_wrap .select_wrap .selected:after {background-image:url('/assets/images/onsale_tel/common/bg_selectbox_arrow02_active.png')}
.pop_wrap .select_wrap .selected.placeholder:after {background-image:url('/assets/images/onsale_tel/common/bg_selectbox_arrow02.png')}
.pop_wrap .select_wrap .selected.disabled:after {background-image:url('/assets/images/onsale_tel/common/bg_selectbox_arrow_disable02.png')}
.pop_wrap .select_wrap.open .selected:after {background-image:url('/assets/images/onsale_tel/common/bg_selectbox_arrow02_active.png')}


/* 전화로신청 */
.blind {display:block !important;overflow:hidden !important;position:absolute !important;left:0 !important;top:-10000px !important;width:0 !important;height:0 !important;}
.pop_wrap .tbl {margin-bottom:20px;}
.pop_wrap .tbl table {border-bottom:1px solid #ccc;}
.pop_wrap .tbl table thead th {padding:10px 0 10px 15px;border-top:1px solid #ccc;background:#eee;}
.pop_wrap .tbl table tbody th,
.pop_wrap .tbl table tbody td {padding:10px 0 10px 15px;border-top:1px solid #ccc;border-top:1px solid #ccc;text-align:center;}
.pop_wrap table + .add_info {margin-top:10px;color:#666;text-align:right;}

.pop_wrap .tbl_box {margin-bottom:32px;}
.pop_wrap .tbl_box .tbl_vew {border-top:2px solid #000;border-bottom:1px solid #000;}
.pop_wrap .tbl_box .tbl_vew tbody th {padding:10px 0 9px 0;border-top:1px solid #ccc;background:#fafafa;color:#666;}
.pop_wrap .tbl_box .tbl_vew tbody td {padding:10px 0 9px 20px;border-top:1px solid #ccc;}
.pop_wrap .tbl_box .tbl_vew tr:first-child th,
.pop_wrap .tbl_box .tbl_vew tr:first-child td {border-top:0;}

.pop_wrap .add_list {}
.pop_wrap .add_list li {position:relative;padding-left:12px;line-height:18px;font-size:14px;color:#666;}
.pop_wrap .add_list li:before {content:'';position:absolute;left:0;top:8px;width:4px;height:2px;background:#666;}

.pop_wrap .price_prev {margin-right:3px; text-decoration:line-through}
.pop_wrap .price_sale {margin-right:3px; color:#ff626f}

.pop_wrap .agree {position:relative;margin-top:12px;border:1px solid #e4e4e4;}
.pop_wrap .agree .agree_head {position:relative;padding:13px 0 12px 10px;background:#fafafa;font-size:14px;}
.pop_wrap .agree .agree_head input[type=checkbox].css-checkbox+label.css-label {font-size:14px;}
.pop_wrap .agree .agree_head .btn_ctrl {position:absolute;right:20px;top:18px;padding-right:19px;color:#000;background:url('/assets/images/onsale_tel/common/bg_arrow_btm.png') no-repeat 100% 50%;}
.pop_wrap .agree .agree_head .btn_ctrl.on {background:url('/assets/images/onsale_tel/common/bg_arrow_top.png') no-repeat 100% 50%;}
.pop_wrap .agree .agree_cnt {display:none;overflow-y:auto;height:80px;padding:30px 10px;border-top:1px solid #e4e4e4;}
.pop_wrap .agree .agree_cnt + .agree_head {border-top:1px solid #e4e4e4}/* 220804 추가 */
.pop_wrap .agree .agree_cnt.on {display:block;}
.pop_wrap .agree .agree_cnt h3 {margin-bottom:20px;font-size:16px;}
.pop_wrap .agree .agree_cnt p {line-height:20px;color:#666;}
.pop_wrap .agree .agree_cnt p + .tbl {margin-top:20px;}

.pop_wrap .add_box {position:relative;margin-top:10px;}
.pop_wrap .add_box .btn_box {position:absolute;right:0;top:44px;text-align:center;}
.pop_wrap .add_box .btn_appy {display:inline-block;width:210px;height:50px;line-height:50px;margin-left:6px;background:#000;color:#fff;font-size:18px;vertical-align:middle;}
.pop_wrap .add_box .btn_close {display:inline-block;width:107px;height:48px;line-height:50px;border:1px solid #000;background:#fff;color:#000;font-size:18px;vertical-align:middle;}

/* 190903 [자동전화상담] */
.pop_wrap.call_apply {width:1001px;}
.pop_wrap.call_apply .pop_head {height:140px;padding:0;background:none;}
.pop_wrap.call_apply .call_banner {width:1000px;height:140px;background:url('/assets/images/onsale_tel/common/bg_call01.jpg') no-repeat 0 0;}
.pop_wrap.call_apply .call_area .title {margin-bottom:10px;line-height:20px;font-size:20px;color:#000;}/* 190605 [안내문구]  */
.pop_wrap.call_apply .call_area .inputS {height:18px;line-height:18px;font-size:14px;}/* 190924 수정  */
.pop_wrap.call_apply .call_area .btn_certfy {display:inline-block;min-width:75px;padding:0 15px;height:30px;border:1px solid #000;line-height:30px;text-align:center;}
.pop_wrap.call_apply .call_area .btn_request {display:inline-block;padding:0 10px;height:24px;font-size:14px;background:#fff; border:1px solid #000; color:#000; line-height:22px}
.pop_wrap.call_apply .call_area .phe_certify .inputS {width:170px;}/* 190924 추가  */
/* 190903 [자동전화상담] */

.pop_wrap.call_apply .pop_cont {padding:30px 39px 20px 39px;}
.pop_wrap.call_apply .call_area {width:920px;}
.pop_wrap.call_apply .call_area .select_wrap {position:relative; display:inline-block; height:25px;}
.pop_wrap.call_apply .call_area .select_wrap select {padding:0 50px 0 20px; font-size:18px}
.pop_wrap.call_apply .call_area .select_wrap .selected {display:block;height:25px; line-height:25px;font-size:14px;}
.pop_wrap.call_apply .call_area .select_wrap .selected > span {display:block; padding:0 48px 0 20px}
.pop_wrap.call_apply .call_area  .select_wrap .selected:after {content:""; position:absolute; right:0; top:0; width:25px; height:25px; background:#fff url('/assets/images/onsale_tel/common/bg_selectbox_arrow02.png') no-repeat 50% 50%}
.pop_wrap.call_apply .call_area .select_wrap .selected.disabled:after {background-image:url('/assets/images/onsale_tel/common/bg_selectbox_arrow02.png')}
.pop_wrap.call_apply .call_area .select_wrap.open .selected:after {background-image:url('/assets/images/onsale_tel/common/bg_selectbox_arrow02.png'); z-index:11}
.pop_wrap.call_apply .call_area .select_wrap .selected.disabled + .select_list_wrap {display:none;}
.pop_wrap.call_apply .call_area .select_list_wrap {position:absolute; top:-7px; left:-11px; width:100%; max-height:242px; border:1px solid #000; background:#fff; overflow:auto; z-index:50}
.pop_wrap.call_apply .call_area .select_list_wrap li span {display:inline-block; padding:6px 0; color:#000; font-size:14px}

/* 190911  자동전화상담 추가*/
.pop_wrap.call_apply .certify_box {position:relative;min-height:25px;}
.pop_wrap.call_apply .certify_box .btn_certfy {position:absolute;right:287px;top:50%;margin-top:-17px;}
.pop_wrap.call_apply .tbl_box .tbl_vew tbody td.n_pdng {padding-left:0;}
.pop_wrap.call_apply .certify_box {min-height:25px;padding-left:20px;}
.pop_wrap.call_apply .certify_box + .certify_box {margin-top:10px;padding-top:10px;border-top:1px solid #ccc;}
.pop_wrap.call_apply .certify_box .point_color01 {display:block;margin-top:5px;}


.pop_wrap.call_apply .consent_box {overflow-y:scroll;height:70px;padding:30px 20px;border:1px solid #d1d1d1;background:#fafafa;}
.pop_wrap.call_apply .consent_box .consent_inner h3 {margin-bottom:18px;font-size:14px;}
.pop_wrap.call_apply .consent_box .consent_inner p {line-height:20px;color:#999;}
.pop_wrap.call_apply .consent_box .consent_inner .tbl {margin-bottom:20px;}
.pop_wrap.call_apply .consent_box .consent_inner p + .tbl  {margin-top:15px;}

.pop_wrap.call_apply .chk_box {margin-top:10px;}
.pop_wrap.call_apply .chk_box input[type=checkbox].css-checkbox+label.css-label {font-size:14px;}

.pop_wrap.call_apply .call_area .add_box {position:relative;margin-top:40px;}
.pop_wrap.call_apply .call_area .btn_box {position:absolute;right:0;top:-3px;}

.pop_wrap .tbl_box .tbl_vew .radio_list label {font-size:14px;}
.pop_wrap .tbl_box .tbl_vew .select_wrap.opt_list .select_list_wrap {max-height:135px;}
.pop_wrap.call_apply .call_area .select_wrap .selected:after {content:""; position:absolute; right:0; top:0; width:25px; height:25px; background:#fff url('/assets/images/onsale_tel/common/bg_selectbox_arrow02.png') no-repeat 50% 50%}

/*전화로신청 미니팝업*/
.pop_wrap.call_apply.mini {width:640px;}
.pop_wrap.call_apply.mini .call_banner {width:100%;height:140px;background:url('/assets/images/onsale_tel/common/bg_call02.jpg') no-repeat 0 0;}
.pop_wrap.call_apply.mini .pop_cont {padding:30px 40px 20px;}
.pop_wrap.call_apply.mini .agree .agree_cnt {height:140px;}
.pop_wrap.call_apply .agree .agree_cnt.smp {height:auto;}/* 220804 추가 */
.pop_wrap.call_apply.mini .call_area {width:560px;}
.pop_wrap.call_apply.mini .call_area .btn_box {position:absolute;right:50%;top:0;width:350px;margin-right: -175px;}

/*전화로신청 개선*/
.pop_wrap.call_apply.type02 {width:800px;}
.pop_wrap.call_apply.type02 .pop_cont {padding: 40px;}
.pop_wrap.call_apply.type02 .pop_cont .emt_inline {display:inline-block;margin-right:20px;}
.pop_wrap.call_apply.type02 .call_banner {width:800px;background:url('/assets/images/onsale_tel/common/bg_call03.jpg') no-repeat 0 0;}
.pop_wrap.call_apply.type02 .call_area {width:720px;}
.pop_wrap.call_apply.type02 .call_area .prd_box {margin-bottom:30px;}
.pop_wrap.call_apply.type02 .call_area .prd_box ul{overflow: hidden;}
.pop_wrap.call_apply.type02 .call_area .prd_box ul li{float: left;display:table; width:233px;min-height:96px;padding:25px; border:1px solid #ccc;box-sizing:border-box;font-size:18px;font-weight: 700; background:#f6f6f6;color:#000;text-align:center;margin-left:10px;}
.pop_wrap.call_apply.type02 .call_area .prd_box ul li span{display: table-cell;vertical-align: middle;}
.pop_wrap.call_apply.type02 .call_area .prd_box ul li:first-child{margin-left:0;}
.pop_wrap.call_apply.type02 .call_area .prd_box .add_info {margin-top:10px;font-size:14px;color:#666}
.pop_wrap.call_apply.type02 .call_area .tbl_box .tbl_vew tbody th {text-align:left;padding-left:17px;}
.pop_wrap.call_apply.type02 .call_area .tbl_box .tbl_vew tbody td {padding: 5px 0 5px 30px}
.pop_wrap.call_apply.type02 .call_area .tbl_box .tbl_vew tbody td.pd {padding-top: 10px;padding-bottom: 10px}
.pop_wrap.call_apply.type02 .call_area .err_txt {display: inline-block;font-size: 14px; color:#ff626f;}
.pop_wrap.call_apply.type02 .call_area .err_txt.type01 {display: block;margin-left:105px}
.pop_wrap.call_apply.type02 .call_area .err_txt.type02 {display: block;margin-left:42px}
.pop_wrap.call_apply.type02 .call_area .info_txt {display: inline-block;font-size: 14px;}
.pop_wrap.call_apply.type02 .call_area .txt {display: inline-block;font-size: 14px;margin-right:30px}
.pop_wrap.call_apply.type02 .call_area .certify_box {padding-top:3px;}
.pop_wrap.call_apply.type02 .call_area .certify_box span.color_gy9,
.pop_wrap.call_apply.type02 .call_area .certify_box span.point_color01 {font-size:13px;} /* 190419 추가 */
.pop_wrap.call_apply.type02 .call_area .certify_box .btn_certfy {right:105px;margin-top:-15px;width:84px;height:28px;line-height: 28px;}
.pop_wrap.call_apply.type02 .call_area .select_wrap {margin-right: 20px;}
.pop_wrap.call_apply.type02 .call_area .select_wrap .selected > span {padding:0;}

/* 220425 수정 */
.pop_wrap.call_apply.type02 .call_area .select_wrap.telcm {max-width:170px;vertical-align:top;}
.pop_wrap.call_apply.type02 .call_area .select_wrap.telcm .select_list_wrap {top:-3px;left:0;}
.pop_wrap.call_apply.type02 .call_area .select_wrap.telcm .selected {height:30px;padding-left:10px;line-height:30px;border:1px solid #ccc;}
.pop_wrap.call_apply.type02 .call_area .select_wrap.telcm .selected:after {top:4px;right:1px;}
.pop_wrap.call_apply.type02 .call_area .select_wrap.telcm .select_list_wrap li span {overflow:hidden;display:block;width:100%;white-space:nowrap;text-overflow:ellipsis;}
.pop_wrap.call_apply.type02 .call_area .select_wrap.telcm .selected > span {overflow:hidden;display:block;width:80%;white-space:nowrap;text-overflow:ellipsis;}
/* //220425 수정 */

.pop_wrap.call_apply.type02 .call_area .agree .agree_cnt {height: 88px;}
.pop_wrap.call_apply.type02 .call_area .agree .agree_cnt.smp  {height:auto;}/* 220804 추가 */
.pop_wrap.call_apply.type02 .btn_wrap .btn{width:120px;padding:0 20px;}
.pop_wrap.call_apply.type02 .call_area .tbl_box .tbl_vew tbody th .es{position: relative;}
.pop_wrap.call_apply.type02 .call_area .tbl_box .tbl_vew tbody th .es:before {content:'*'; position:absolute; top:5px; left:-8px; display:block; color:#ff626f; font-size:14px}
.pop_wrap.call_apply.type02 .call_area .select_list_wrap li {padding: 4px 10px}
.pop_wrap.call_apply.type02 .call_area h2.title span {font-size: 14px;}
.pop_wrap.call_apply.type02 .call_area .application_ongoing {margin-bottom:30px}
.pop_wrap.call_apply.type02 .call_area table + .add_info {text-align:left;}
.pop_wrap.call_apply.type02 .pint_clr {color:#ff626f;}
.pop_wrap.call_apply.type02 .application_ongoing {margin:20px 0;border:1px solid #e4e4e4;}
.pop_wrap.call_apply.type02 .application_ongoing + h2 {margin-top:20px;}
.pop_wrap.call_apply.type02 .application_ongoing .info_box {position:relative;padding:30px 0 24px 15px;background:#fafafa;}
.pop_wrap.call_apply.type02 .application_ongoing .info_box .info_tit {font-size:20px;color:#000;}
.pop_wrap.call_apply.type02 .application_ongoing .info_box .info_tit .nbr {color:#ff626f;font-weight:bold;}
.pop_wrap.call_apply.type02 .application_ongoing .info_box .info_sub {margin-top:13px;font-size:14px;color:#666;}
.pop_wrap.call_apply.type02 .application_ongoing .info_box .btn_view {position:absolute;right:20px;top:30px;padding-right:20px;background:url('/static/shop/images/btn/btn_black_arrow_dw.png') no-repeat 100% 50%;}
.pop_wrap.call_apply.type02 .application_ongoing .info_box .btn_view.on {background:url('/static/shop/images/btn/btn_black_arrow_up.png') no-repeat 100% 50%;}
.pop_wrap.call_apply.type02 .application_ongoing .ongoing_list {display:none;padding:0 10px 30px 10px;}
.pop_wrap.call_apply.type02 .application_ongoing .ongoing_list.on {display:block;}
.pop_wrap.call_apply.type02 .application_ongoing .ongoing_list .tbl_dtil {margin:0 !important;}
.pop_wrap.call_apply.type02 .application_ongoing .ongoing_list .tbl_dtil table {border-top: 2px solid #000;border-bottom: 1px solid #000;}
.pop_wrap.call_apply.type02 .application_ongoing .ongoing_list .tbl_dtil table thead th {padding:13px 0 12px 0;font-size:14px;color:#666;}
.pop_wrap.call_apply.type02 .application_ongoing .ongoing_list .tbl_dtil table tbody td {padding:13px 0 12px 0;border-top:1px solid #e4e4e4;font-size:14px;color:#666;text-align:center;}
.pop_wrap.call_apply.type02 .application_ongoing .ongoing_list .tbl_dtil .rptg {display:block;font-size:12px;}
.pop_wrap.call_apply.type02 .application_ongoing .ongoing_list .tbl_dtil .algn_lft {padding-left:5px;text-align:left;}
.pop_wrap.call_apply.type02 .application_ongoing .ongoing_list .btn_area {text-align:right;}
.pop_wrap.call_apply.type02 .application_ongoing .ongoing_list .btn_area .btn {margin-left:3px;}
.pop_wrap.call_apply.type02 .application_ongoing .ongoing_list .btn_area .btn:first-child {margin-left:0;}
.pop_wrap.call_apply.type02 .application_ongoing .ongoing_list .btn_sm01 {height:24px;line-height:22px;padding:0 7px;border:1px solid #000;font-size:14px;color:#666;background:#fff;}
.pop_wrap.call_apply.type02 .application_ongoing .ongoing_list .btn_sm02 {height:26px;line-height:26px;padding:0 7px;background:#222;font-size:14px;color:#fff;}
.pop_wrap.call_apply.type02 .application_ongoing .ongoing_list .pagination a,
.pop_wrap.call_apply.type02 .application_ongoing .ongoing_list .pagination > strong {width:24px;height:24px;line-height:24px;}

/*전화로신청 선불유심*/
.pop_wrap.call_apply.type02 .tbl_box label.css-radiolabel {background-image:url('/assets/images/onsale_tel/common/ico_radiobox.png');}
.pop_wrap.call_apply.type02 .tbl_box input[type=radio].css-radiobox {overflow:hidden; position:absolute; left:-1000px; width:1px; height:1px; margin:-1px; padding:0; border:0; z-index:-1000}
.pop_wrap.call_apply.type02 .tbl_box input[type=radio].css-radiobox + label.css-radiolabel {position:relative; display:inline-block; min-width:26px; min-height:26px; padding-left:34px; vertical-align:middle; cursor:pointer; line-height:26px; font-size:14px; color:#000; background-repeat:no-repeat; background-position: 0 0}
.pop_wrap.call_apply.type02 .tbl_box .checked > label.css-radiolabel {background-position:0 -104px !important}
.pop_wrap.call_apply.type02 .tbl_box input[type=radio]:checked.css-checkbox + label.css-radiolabel {background-position:0 -104px}
.pop_wrap.call_apply.type02 .tbl_box input[type=radio][disabled].css-radiobox + label.css-radiolabel {background-position:0 -214px}
.pop_wrap.call_apply.type02 .tbl_box input[type=radio]:focus + label:after {content:''; display:block; position:absolute; top:0; left:0; width:25px; height:25px; border:1px dotted #666}
.pop_wrap.call_apply.type02 .tbl_box .radio_list {padding: 5px 0;}
.pop_wrap.call_apply.type02 .tbl_box .radio_list > li {display:inline-block; vertical-align:middle; margin-left:37px}
.pop_wrap.call_apply.type02 .tbl_box .radio_list > li:first-child {margin-left:0}
.pop_wrap.call_apply.type02 .tbl_box .radio_list.block > li {display:block; margin:8px 0 0 0}
.pop_wrap.call_apply.type02 .tbl_box .radio_list.block > li:first-child {margin-top:0}
.pop_wrap.call_apply.type02 .tbl_box .radio_list .add_txt {display:inline-block; vertical-align:top; margin:6px 0 0 4px}
.pop_wrap.call_apply.type02 .tbl_box .radio_list + .radio_addtxt  {margin-top:12px}

/* 전화상담신청서_수정기능 */
.pop_wrap.call_revise {width:800px;}
.pop_wrap.call_revise .pop_cont {padding: 40px;}
.pop_wrap.call_revise .call_area {position:relative;width:720px;}
.pop_wrap.call_revise .call_area .title {margin-bottom:10px;font-size:20px;color:#000;}
.pop_wrap.call_revise .call_area .prd_box {margin-bottom:30px;}
.pop_wrap.call_revise .call_area .prd_box ul{overflow: hidden;}
.pop_wrap.call_revise .call_area .prd_box ul li{float: left;display:table; width:233px;padding:25px; border:1px solid #ccc;box-sizing:border-box;font-size:18px;font-weight: 700; background:#f6f6f6;color:#000;text-align:center;margin-left:10px;}
.pop_wrap.call_revise .call_area .prd_box ul li span{display: table-cell;vertical-align: middle;}
.pop_wrap.call_revise .call_area .prd_box ul li:first-child{margin-left:0;}
.pop_wrap.call_revise .call_area .prd_box .add_info {margin-top:10px;font-size:14px;color:#666}
.pop_wrap.call_revise .call_area .tbl_box .tbl_vew tbody th {text-align:left;padding:12px 0 12px 0;background:none;color:#666;font-size:14px;}
.pop_wrap.call_revise .call_area .tbl_box .tbl_vew tbody td {padding:12px 0 12px 20px;}
.pop_wrap.call_revise .call_area .tbl_box .tbl_vew .vtcl_top {padding-top:25px;vertical-align:top;}
.pop_wrap.call_revise .call_area .tbl_box .tbl_vew .guide_txt {margin-top:10px;font-size:14px;color:#666;}

.pop_wrap.call_revise .call_area .tbl_box label.css-radiolabel {background-image:url('/assets/images/onsale_tel/common/ico_radiobox.png');}
.pop_wrap.call_revise .call_area .tbl_box input[type=radio].css-radiobox {overflow:hidden; position:absolute; left:-1000px; width:1px; height:1px; margin:-1px; padding:0; border:0; z-index:-1000}
.pop_wrap.call_revise .call_area .tbl_box input[type=radio].css-radiobox + label.css-radiolabel {position:relative; display:inline-block; min-width:26px; min-height:26px; padding-left:34px; vertical-align:middle; cursor:pointer; line-height:26px; font-size:14px; color:#000; background-repeat:no-repeat; background-position: 0 0}
.pop_wrap.call_revise .call_area .tbl_box .checked > label.css-radiolabel {background-position:0 -104px !important}
.pop_wrap.call_revise .call_area .tbl_box input[type=radio]:checked.css-checkbox + label.css-radiolabel {background-position:0 -104px}
.pop_wrap.call_revise .call_area .tbl_box input[type=radio][disabled].css-radiobox + label.css-radiolabel {background-position:0 -214px}
.pop_wrap.call_revise .call_area .tbl_box input[type=radio]:focus + label:after {content:''; display:block; position:absolute; top:0; left:0; width:25px; height:25px; border:1px dotted #666}

.pop_wrap.call_revise .call_area .layer_plan {visibility:hidden;position:absolute;right:0;top:40px;padding:20px;border:1px solid #333;background:#fff;opacity:0;transition:all 0.3s;}
.pop_wrap.call_revise .call_area .layer_plan.on {visibility:visible;top:34px;opacity:1;transition:all 0.3s;}
.pop_wrap.call_revise .call_area .layer_plan .layer_cont {width:548px;}
.pop_wrap.call_revise .call_area .layer_plan .tit {font-size:18px;font-weight:500;}
.pop_wrap.call_revise .call_area .layer_plan .plan_tab {overflow:hidden;margin:20px 0 0 -10px;}
.pop_wrap.call_revise .call_area .layer_plan .plan_tab li {float:left;width:174px;margin:0 0 10px 10px;padding:10px 0;border:1px solid #ccc;text-align:center;}
.pop_wrap.call_revise .call_area .layer_plan .plan_tab li.on {border-color:#ff626f;}
.pop_wrap.call_revise .call_area .layer_plan .plan_tab li.on a {color:#ff626f;}
.pop_wrap.call_revise .call_area .layer_plan .plan_tab li a {display:block;font-size:14px;color:#666;}
.pop_wrap.call_revise .call_area .layer_plan .plan_choice {overflow-y:auto;display:none;height:184px;background:#f6f6f6;}
.pop_wrap.call_revise .call_area .layer_plan .plan_choice.on {display:block;}
.pop_wrap.call_revise .call_area .layer_plan .plan_choice li {padding:10px 20px;}
.pop_wrap.call_revise .call_area .layer_plan .plan_choice li.on {background:#ffe8ea;}
.pop_wrap.call_revise .call_area .layer_plan .plan_choice li:after {content:'';display:block;clear:both;}
.pop_wrap.call_revise .call_area .layer_plan .plan_choice li .rado_choice {float:left;}
.pop_wrap.call_revise .call_area .layer_plan .plan_choice li .rado_choice label.css-radiolabel {font-size:14px;color:#666;}
.pop_wrap.call_revise .call_area .layer_plan .plan_choice li .plan_itm {float:right;margin-top:5px;font-size:14px;color:#666;}
.pop_wrap.call_revise .call_area .layer_plan .plan_choice li .plan_itm .dc {color:#ff626f;}
.pop_wrap.call_revise .call_area .layer_plan .btn_wrap {margin-top:20px;}
.pop_wrap.call_revise .call_area .layer_plan .btn_wrap .btn {width:112px;height:38px;line-height:38px;font-size:16px;}
.pop_wrap.call_revise .call_area .layer_plan .btn_close {position:absolute;right:20px;top:20px;width:18px;height:18px;background:url('/assets/images/onsale_tel/common/icon_close03.png') no-repeat 0 0;}

.pop_wrap.call_revise .option_body {min-height:40px; margin:-10px 0 0 0; font-size:0}
.pop_wrap.call_revise .pop_cont .option_body .unit_chk {display:inline-block; margin:10px 0 0 10px; vertical-align:middle}
.pop_wrap.call_revise .pop_cont .option_body .unit_chk:first-child {margin-left:0;}
.pop_wrap.call_revise .pop_cont .option_body .unit_chk label {position:relative; display:inline-block; cursor:pointer; box-sizing:border-box}
.pop_wrap.call_revise .pop_cont .option_body .unit_chk .option-label {height:40px; padding:0 20px; line-height:40px; font-size:14px; border:1px solid #e8e8e8; background:#fff}
.pop_wrap.call_revise .pop_cont .option_body .unit_chk .color-label {width:28px; height:28px; border-radius:50%}
.pop_wrap.call_revise .pop_cont .option_body .unit_chk.checked .option-label {color:#fff; border-color:#000; background:#000}
.pop_wrap.call_revise .pop_cont .option_body .unit_chk .color-label:before {content:"";visibility:hidden;position:absolute; right:-6px; top:-6px; width:18px; height:18px; background:url('/assets/images/onsale_tel/common/bg_checked.png') no-repeat;transform: scale(0);transition: all 0.4s ease-in-out;}
.pop_wrap.call_revise .pop_cont .option_body .unit_chk.checked .color-label:before {content:"";visibility:visible;transition: all 0.4s ease-in-out;transform: scale(1);}
.pop_wrap.call_revise .pop_cont .option_body .unit_chk input[type=radio]:focus + .option-label:after {top:-1px; left:-1px; width:100%; height:100%}
.pop_wrap.call_revise .pop_cont .option_body.join_type {position:relative;padding-bottom:50px;}
.pop_wrap.call_revise .pop_cont .option_body.join_type .info,
.pop_wrap.call_revise .pop_cont .option_body.join_type .chk1.info {display:block;}
.pop_wrap.call_revise .pop_cont .option_body.join_type .info {display:none;position:absolute;top:65px;left:0;width:280px;padding:10px 20px;border:1px solid #ccc;background:#f6f6f6;color:#666;font-size:13px;}
.pop_wrap.call_revise .pop_cont .option_body.join_type .info:before {content:'';position:absolute;left:40px;top:-10px;width:14px;height:10px;background:url('/assets/images/onsale_tel/common/bg_vertex.png') no-repeat 0 0;}
.pop_wrap.call_revise .pop_cont .option_body.join_type .chk2.info:before {left:137px;}
.pop_wrap.call_revise .pop_cont .option_body.join_type .chk3.info:before {left:238px;}
.pop_wrap.call_revise .color_name {display:inline-block;margin:10px 0 0 30px;vertical-align:middle;font-size:14px;color:#000;}
.pop_wrap.call_revise .stock {display:inline-block;margin:10px 0 0 8px;color:#3c3eb3;font-size:14px;vertical-align:middle}
.pop_wrap.call_revise .stock.none {color:#ff626f;}
.pop_wrap.call_revise .pop_cont .plan_box {height:28px;}
.pop_wrap.call_revise .pop_cont .plan_box .btn_plan {position:relative;float:right;height:28px;line-height:28px;padding-right:36px;color:#666;font-size:14px;}
.pop_wrap.call_revise .pop_cont .plan_box .btn_plan:after {content:'';position:absolute;right:0;top:0;width:28px;height:28px;background:url('/assets/images/onsale_tel/common/ico_refresh.png') no-repeat 100% 50%;transition:all 0.5s;}
.pop_wrap.call_revise .pop_cont .plan_box .btn_plan:hover:after {	transform:rotate(180deg);}
.pop_wrap.call_revise .pop_cont .plan_box .plan_name {float:left;line-height:28px;}
.pop_wrap.call_revise .btn_wrap {margin-top:60px;}
.pop_wrap.call_revise .midBtn04 {width:120px;}

.calculate_box {position:relative;margin-top:20px;}
.calculate_box .calculate_top {height:60px;border-bottom:1px solid #4f5065;background:#4f5065;}
.calculate_box .calculate_top:after {content:'';display:block;clear:both;}
.calculate_box .calculate_top .item {position:relative;float:left;width:33.33%;line-height:60px;box-sizing:border-box;}
.calculate_box .calculate_top .item .item_tit {float:left;padding-left:25px;font-size:14px;color:#fff;font-weight: 300;}
.calculate_box .calculate_top .item .item_price {float:right;padding-right:25px;font-size:18px;color:#fff;font-weight:bold;}
.calculate_box .calculate_top .item.plus:after {content:'';position:absolute;right:-9px;top:50%;width:19px;height:19px;margin-top:-9px;background:url('/assets/images/onsale_tel/common/ico_calculate_plus.png') no-repeat 0 0; }
.calculate_box .calculate_top .item.equals:before {content:'';position:absolute;left:-9px;top:50%;width:19px;height:19px;margin-top:-9px;background:url('/assets/images/onsale_tel/common/ico_calculate_equals.png') no-repeat 0 0; }
.calculate_box .calculate_cnt {display:none;padding:20px 24px;border:1px solid #4f5065;border-top:0;background:#f6f6f6;}
.calculate_box .calculate_cnt.on {display:block;}
.calculate_box .calculate_cnt .item_box {margin-bottom:15px;padding-bottom:20px;border-bottom:1px solid #aeaeae;}
.calculate_box .calculate_cnt .item_box:after {content:'';display:block;clear:both;}
.calculate_box .calculate_cnt .item_box .item_view {float:left;width:190px;margin-left:48px;}
.calculate_box .calculate_cnt .item_box .item_view:first-child {margin:0;}
.calculate_box .calculate_cnt .item_box .item_view li {margin-top:20px;}
.calculate_box .calculate_cnt .item_box .item_view li:first-child {margin-top:0;}
.calculate_box .calculate_cnt .item_box .item_view li:after {content:'';display:block;clear:both;}
.calculate_box .calculate_cnt .item_box .item_view li .tit {float:left;font-size:14px;color:#666;}
.calculate_box .calculate_cnt .item_box .item_view li .prc {float:right;font-size:14px;color:#000;}
.calculate_box .calculate_cnt .item_box .item_view li .dc {color:#ff626f;}
.calculate_box .guide_list li {margin-top:5px;color:#666;font-size:14px;}
.calculate_box .guide_list li:first-child {margin-top:0;}
.calculate_box .btn_calculate {position:absolute;left:50%;bottom:-20px;width:70px;height:20px;margin-left:-35px;border-radius:0 0 20px 20px ;background:#4f5065 url('/assets/images/onsale_tel/common/bg_arrow_calculate_bottom.png') no-repeat 50%;}
.calculate_box .btn_calculate.on {background:#4f5065 url('/assets/images/onsale_tel/common/bg_arrow_calculate_top.png') no-repeat 50%;}

/* 유심 case */ /* 210906 추가 */
.calculate_box.usim_pay .item.plus {display:none;}
.calculate_box.usim_pay .calculate_top .item {width:50%;}
.calculate_box.usim_pay .calculate_top .item .item_tit {width:120px;}
.calculate_box.usim_pay .calculate_top .item .item_price {float:left;}
.calculate_box.usim_pay .calculate_top .item.equals {text-align:right;}
.calculate_box.usim_pay .calculate_top .item.equals .item_tit {float:left;width:auto;padding-left:145px;}
.calculate_box.usim_pay .calculate_top .item.equals .item_price {float:right;}

/* 전화신청팝업 본인인증 msg  */
.tost_msg {position:absolute;left:50%;top:440px;min-width:230px;height:50px;line-height:50px;margin-left:-175px;padding:0 60px;background-color: rgba( 0, 0, 0, 0.6 );border-radius:25px;z-index:50;opacity:0;transition:all 1s ease-out;}
.tost_msg.on {opacity:1;transition:all 1s ease-out;}
.tost_msg .msg_inner {position:relative;padding-left:28px;}
.tost_msg .msg_inner.icon:before {content:'';position:absolute;left:0;top:19px;width:18px;height:14px;background:url('/assets/images/onsale_tel/common/ico_post01.png') no-repeat 0 0;}
.tost_msg .msg_inner.icon:after {content:'';position:absolute;left:0;top:19px;width:18px;height:9px;background:url('/assets/images/onsale_tel/common/ico_post02.png') no-repeat 0 0;z-index:10;}
.tost_msg p {color:#fff;font-size:16px;}