@charset "UTF-8";
// layout
body.white{
    #wrap{
        &.main{
            .sec-main-visual{
                .slick-control{
                    > span{
                        color: $white;
                    }
                    .slick-dots{
                        li{
                            button{
                                &:before{
                                    background-color: #fff;
                                }
                            }
                        }
                    }
                    .slick {
                        &-prev {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg data-name='그룹 465375'%3E%3Cpath data-name='패스 842334' d='m1054.216 723.492-5.331 5.331 3.554 3.554 1.777 1.777' transform='translate(-1042 -718.823)' style='fill:none;stroke:%23ffffff;stroke-linecap:round'/%3E%3C/g%3E%3C/svg%3E%0A");}
                        &-next {background-image: url("data:image/svg+xml,%3Csvg data-name='그룹 465377' xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath data-name='패스 842334' d='m1048.886 723.492 5.331 5.331-3.554 3.554-1.777 1.777' transform='translate(-1041.102 -718.823)' style='fill:none;stroke:%23ffffff;stroke-linecap:round'/%3E%3C/svg%3E%0A");}
                        &-play {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg data-name='그룹 465378'%3E%3Cpath data-name='패스 845805' d='M-3433.028-18468.7v10.184l7.168-5.113z' transform='translate(3439.444 18473.604)' style='fill:none;stroke:%23ffffff'/%3E%3C/g%3E%3C/svg%3E%0A");}
                        &-pause {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg data-name='그룹 465378'%3E%3Cpath data-name='사각형 341659' transform='translate(6 5)' style='fill:%23ffffff' d='M0 0h3v10H0z'/%3E%3Cpath data-name='사각형 341660' transform='translate(11 5)' style='fill:%23ffffff' d='M0 0h3v10H0z'/%3E%3C/g%3E%3C/svg%3E%0A");}
                    }                    
                }
            }
        }
    }
}

#wrap {
    &.main {
        padding-top:0;   
        .container {
            padding-top:0;
        }
    }
    .personal-message{
        position: fixed; left: 50%; top: 100px; transform: translateX(-50%); z-index: 10; width: 400px;
        li{
            position: relative;
            &+li{
                margin-top: 10px;
            }
            a{
                display: block; padding: 10px 30px; background-color: rgba(0,0,0, 0.7); border-radius: 24px; color: $white; 
            }
            button{
                position: absolute; right: 8px; top: 50%; transform: translateY(-50%); width: 24px; height: 24px; @include backgroundImg('../../assets/images/icon/ico-delete.svg', 0, 100%); font-size: 0;
            }
        }
    }    
    .main-conts {
        min-width: 1280px; max-width: 1920px; margin: 0 auto;
        &>section {
            margin-bottom:100px;
            .sec-tit {display:block;margin-bottom:30px;@include contsTitle;}
            .sec-origin {position:relative;width:1280px;margin:0 auto;}/*1280px 컨텐츠 중앙정렬일때 사용*/
            .sec-more {
                position:absolute;top:13px;right:0;
                .btn-more {
                    display:inline-block;padding-right:22px;@include normalTxt;color:$gray05;
                    @include backgroundImg('/assets/images/main/ico-more-gray.svg', right center, 18px 18px);
                    &+.btn-more {margin-left:20px;}
                    &>b {@include normalTxt;color:$black;font-weight:bold;}
                }
            }
        }
    }
}
//모달 팝업
.open-modal-popup-wrap{
    position: fixed; top:0; left:0; right:0; bottom:0; z-index: 999999; background: rgba(0,0,0,0.5); display: none !important;
    .open-modal-popup{
        position:absolute; top:50%; left:50%; transform: translate(-50%,-50%);  border-radius: 20px; overflow:hidden;
        .slick-default{
             > div{
                display: none; width:100%; height: 100%;
                img{
                    width:100%; height:100%; display: block;
                }
            }
        }
        .slick-list{
            display: block !important;
        }
        .slick-track{
            height: 100%;
        }
        .slick-dots{
            position: absolute; bottom:15px;
            li{
                button{
                     width: 16px; height: 16px; background: $white; opacity: 0.5;
                }
            }
            li.slick-active{
                button{
                    width: 40px; height: 16px; background: $white; opacity: 1;
                }
            }
        }
    }
    .bottom-bar{
        width:100%; padding:23px 20px; background: $black; color:$white; display: flex; justify-content: space-between; align-items: center; border-radius: 0 0 20px 20px;
        .btn-check{
            label{
                color:$white;
            }
        }
    }
    &.on{
 display: block !important;
    }
}


// 메인비주얼
.sec-main-visual {
    position:relative;height:730px;
    .slick-list {
        .slick-slide {
            display:flex;justify-content:center;overflow:hidden;
            img {
                width:1920px; max-width: none;
            }
        }
    }
    .slick-control {
        display:flex;justify-content:center;position:absolute;left:50%;bottom:80px;width:240px;margin-left:-120px;z-index:1;
        .slick-dots {
            display:flex;justify-content:center;align-items:center;width:100px;
            li {
                flex:1 1 auto;margin:0 !important;opacity:0.5;
                &.slick-active {opacity:1;}
                button {
                    display:flex;align-items:center;overflow:hidden;width:100%;height:20px;font-size:0;
                    &::before {content:'';display:block;width:100%;height:2px;background:$black;}
                }
            }
        }
        .first-page,
        .end-page {@include normalTxt;}
        .slick-btn {display:flex;justify-content:flex-start;flex-wrap:nowrap;margin-left:20px;}
        .slick-prev,
        .slick-next,
        .slick-play,
        .slick-pause {
            display:block;width:20px;height:20px;font-size:0;
            &.on {display:block;}
        }
        .slick {
            &.on {display:block;}
            &-prev {@include backgroundImg('/assets/images/main/visual-prev.svg', center, 20px 20px);}
            &-next {@include backgroundImg('/assets/images/main/visual-next.svg', center, 20px 20px);}
            &-play {display:none;@include backgroundImg('/assets/images/main/visual-play.svg', center, 20px 20px);}
            &-pause {display:none;@include backgroundImg('/assets/images/main/visual-pause.svg', center, 20px 20px);}
            &-page {padding:0 20px;}
        }
    }
}

// 메인이벤트
.sec-main-event {
    .event-box {
        width:1280px;margin:0 auto;padding:12px 0;border-radius:10px;background:$gray01;
        a {
            display:flex;justify-content:space-between;flex-wrap:nowrap;align-items:center;min-height:204px;
            &>div {flex:1 1 32%;}
        }
        .day-time {
            display:flex;flex-direction:column;justify-content:center;align-items:center;
            &>span {display:block;margin-bottom:14px;@include normalTxt;}
            .num {
                @include mainContsTitle;
                &>span {margin-right:10px;}
            }
        }
        .info {
            display:flex;flex-direction:column;justify-content:flex-start;padding:0 80px;
            @include backgroundImg('/assets/images/main/ico-more-black.svg', right 60px center, 20px 20px);
            strong {display:block;@include mainTxt;}
            p {display:block;margin-top:10px;@include defaultTxt;color:$black;}
        }
    }
}

// 이벤트
.sec-event {
    .event-wrap {
        width:1280px;margin:0 auto;
        .list-bnr {
            display:flex;flex-wrap:wrap;gap:20px;
            &>li {
                flex:0 1 413px;
                img {width:413px;height:198px;}
            }
        }
    }
}

// 요금제
.sec-payment {
    padding:60px 0;background:#f2f4f5;
    .box-tab02 {
        .tab-btn-wrap {
            &.tab-wid {
                margin-bottom:60px;gap:0 40px;
                li {
                    flex:none;
                    a {
                        padding:12px 0;border-bottom:2px solid transparent;@include normalTxt;
                        &.on {background:none;border-bottom:2px solid $purple;color:$purple;}
                    }
                }
            }
        }
        .tab-contents-wrap {
            height:490px;
            .item-payment {
                display:flex;
                .tit {width:407px;text-align:left;}
                .list-payment {
                    width:898px;box-sizing:border-box;padding:0 25px;
                    .slick-slide {
                        overflow:hidden;width:414px;height:490px;border-radius:10px;background:$white;
                        &+.slick-slide { margin-left:20px;}
                    }
                    .slick-arrow {
                        width:50px;height:50px;border-radius:50%;font-size:0;background-color:rgba(0,0,0,0.6) !important;
                        &.slick-prev {left:-25px;@include backgroundImg('/assets/images/main/btn-prev-white.svg', center, 30px 30px);}
                        &.slick-next {right:-25px;@include backgroundImg('/assets/images/main/btn-next-white.svg', center, 30px 30px);}
                        &.slick-disabled{
                            display: none !important;
                        }
                    }
                }
            }
            .item {
                padding:40px 50px;
                dt {
                    height: 58px; @include ellipsis2;
                    strong {
                        display:block;@include subContsTitle;
                        &+span {display:block; height: 19px;@include defaultTxt; margin-top: 10px;}
                    }
                }
                dd {
                    margin-top:30px;
                    .data {
                        @include mainContsTitle; height: 90px; display: block;
                        span {display:block;@include defaultTxt; margin-top: 10px;}
                    }
                    .info {
                        li {
                            @include defaultTxt;
                            b {margin-right:9px;@include normalTxt;}
                            &+li {margin-top:10px;}
                        }
                    }
                    .box {
                        width: 100%; height: 88px; padding:20px;border-radius:10px;background:#f8f4ff; overflow: hidden; margin-top: 30px;
                        span {
                            display:block;@include defaultTxt; color:$black;
                            &+span {margin-top:10px;}
                        }
                    }
                    .payment {
                       width: 100%; margin-top: 20px;
                        strong {@include mainContsTitle;color:$purple;}
                        span {display:inline-block;padding-left:9px;@include mainTxt;color:$gray05;font-weight:normal;text-decoration:line-through;vertical-align:baseline;}
                    }
                }
            }
        }
    }
}

// 상품
.sec-products {
    .products-wrap {
        display:flex;justify-content:flex-start;
        .list-img {
            width:847px;height:400px;
            .slick-slide {
                overflow:hidden;width:847px;border-radius:10px;
                img {width:847px;height:400px;}
            }
        }
        .list-products {
            width:calc(100% - 897px);height:400px;box-sizing:border-box;padding-left:50px;
            .slick-slide {
                display:flex;align-items:center;height:80px;
                strong {
                    position:relative;padding:12px 0 12px 23px;border-bottom:2px solid $white;@include mainTxt;color:$gray05;transition:0.3s;
                    &>em {
                        display:inline-block;position:absolute;left:0;top:12px;
                        @include mainTxt;font-style:normal;color:$black;
                    }
                }
                &.slick-current {
                    strong {
                        border-bottom:2px solid $purple;color:$purple;
                        &>em {color:$purple;}
                    }
                }
            }
        }
    }
}

// 구독서비스
.sec-subscription {
    .slick-service {
        padding-bottom:62px;
        .slick-slide {
            width:413px;
            &+.slick-slide {margin-left:20px;}
        }
        .slick-arrow {
            top:auto;width:32px;height:32px;font-size:0;
            &.slick-prev {left:50%; bottom: 16px; transform: rotate(180deg); margin-left:-42px;@include backgroundImg('/assets/images/main/btn-cir-next.svg', center, 32px 32px);}
            &.slick-next {right:50%; bottom:0;  margin-right:-42px;@include backgroundImg('/assets/images/main/btn-cir-next.svg', center, 32px 32px);}
        }
    }
}

//하단
.sec-main-btm {
    .btm-wrap {display:flex;justify-content:space-between;}
    .sec-inquire {
        display:flex;flex-wrap:wrap;gap:60px;width:calc(100% - 450px);padding:70px 0;border-top:1px solid #ddd;
        &>a {display:flex;justify-content:flex-start;flex:0 1 40%;gap:40px;}
        .img {display:inline-flex;justify-content:center;align-items:center;width:100px;height:100px;border-radius:50%;background:#eff1f5;}
        .txt {
            display:flex;flex-direction:column;justify-content:center;
            &>strong {display:block;@include mainTxt;text-align:left;}
            &>span {
                display:block;margin-top:10px;
                @include defaultTxt;color:$black;font-size:15px;line-height:1.6;
            }
        }
    }
    .sec-qr {
        display:flex;flex-direction:column;justify-content:center;align-items:center;width:420px;height:400px;border:1px solid #ddd;border-radius:10px;
        &>img {width:150px;height:150px;}
        &>strong {display:block;margin-top:30px;@include subContsTitle;text-align:center;}
        &>p {display:block;margin-top:10px;@include defaultTxt;color:$black;text-align:center;}
    }
}