@charset "UTF-8";

/*** 전체 공통 ***/
%fontInherit {
    font-size: inherit; font-weight: inherit; letter-spacing: inherit; line-height: inherit; color: inherit;
}

.box-address {
    .box-flex {
        padding-top:0;
        .box-input {margin-top:0;}
    }
    .box-input {margin-top:24px;}
    .btn-check {margin-top:20px;}
    .today-noti {margin-top:20px;@include defaultTxt;color:$purple;}
}

// 약관 동의
.agree-wrap {
    margin-top:50px;
    #agreeAll {
        &+label {
            span{@include defaultTxt;}
        }
    }
    .agree-group {
        margin-top:40px; padding:0 30px;
        .btn-check {
            margin-bottom:30px;
            label {
                span {
                    &>strong {@extend %fontInherit;color:$purple !important;}
                    &>b {@extend %fontInherit;color:$gray05 !important;}
                }
            }
        }
    }
}
.box-agree {
    &+.btn-check {
        margin-top:60px;
        label {
            span {font-weight:400;}
        }
    }
}


/*** usim 단독 ***/
.usim {
    .point {color:$purple;font-size:inherit;font-weight:inherit;line-height:inherit;}
    .box-tooltip {
        .txt-tooltip {
            bottom:auto;top:56px;left:-127px;z-index:5;
            &>span {

                &::after {bottom:auto;top:-18px;transform:rotate(-135deg);}
            }
        }
    }
    .link-box {
        &+.txt-dot {margin-top:30px;}
    }
    .box-btn {
        &.result-more {padding:40px 0;text-align:center;}
    }
    .bang-notice {line-height:1.33;}
    // 유심/eSIM 가입
    .unit-item{margin-top: 40px;}
    .usim-esim-join{
        .flex-layout{
            display: flex; gap: 30px;
            .payment-imgCard-btn{
                margin: 0;
                .cardList{
                    display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 432px;
                    .item {
                        &-top {
                            width: auto;
                            img{display: block; width: 200px; margin: 0 auto;}
                            .txt-top{
                                margin-top: 20px;
                                p {
                                    @include mainTxt; font-weight: 700;
                                }
                                .box-btn {
                                    display: flex; justify-content: center; gap: 30px; margin-top: 10px;
                                }
                            }
                        }
                        &-bottom {
                            border: 0; padding: 0; margin-top: 50px;
                            .btns{display: block;}
                        }
                    }
                }
            }
        }
    }
    .usim-esim-phone-info{
        .btn-radio-group{
            .btn-radio {
                label{
                    display: flex; gap: 10px; align-items: center;
                    &.icon-iphone{
                        &::before {
                            content: ''; display: block; width: 24px; height: 24px;
                            @include backgroundImg('../../assets/images/icon/ico-apple-logo.png', center, contain);
                        }
                    }
                    &.icon-galaxy{
                        &::before {
                            content: ''; display: block; width: 64px; height: 18px;
                            @include backgroundImg('../../assets/images/icon/ico-galaxy-logo.png', center, contain);
                        }
                    }
                }
            }
        }
        .no-result {
            margin-top: 100px;
            .no-result-txt {
                padding-top: 170px; background-position: center top;
                background-image: url('../../assets/images/icon/ico-phone-check-big.svg');
            }
        }
        .box-table{
            .table-title {@include normalTxt;}
            .table-type-04 {
                th{
                    padding: 20px 0;
                    @include mainTxt;
                }
                td{
                    padding: 20px 0;
                }
                tbody{
                    .btn-radio-type2{
                        label{
                            strong{
                                display: block; flex-shrink: 0;@include defaultTxt;
                                span{display: inline-block; margin-right: 0;}
                                &:nth-of-type(1) {
                                    width: 20%; text-align: center;
                                }
                                &:nth-of-type(2) {
                                    width: 40%;
                                }
                                &:nth-of-type(3) {
                                    width: 40%;
                                }
                            }
                        }
                        input[type=radio] {
                            &:checked + label {
                                strong{
                                    color: $purple;
                                }
                            }
                        }
                    }
                }
            }
        }
        .cardList-wrap{
            .cardList-title{font-size: 16px; }
        }
        .box-input {
            .input-label{
                display: flex; justify-content: space-between; align-items: center;
            }
        }
        .btn-group{
            margin-top: 30px;
        }
    }
    .usim-esim-unique-num{
        .page-desc{
            margin-bottom: 10px;
        }
        .box-btn {
            &.flex-box{
                display: flex; gap: 20px; justify-content: center; margin-top: 20px;
            }
            .btn-dark-gray{
                min-width: 270px;
            }
            .btns{
                width: 270px;
            }
        }
        .phone-unique-num{
            .unit-item:first-of-type{margin-top: 50px;}
            .img-wrap{
                margin-top: 70px;
                img{
                    display: block; width: 240px; margin: 0 auto;
                }
            }
            .box-input {
                .txt-gy {
                    display: block; margin-top: 20px;
                }
            }
        }
        .btn-group{margin-top: 30px;}
    }
    .usim-esim-unique-check{
        .unit-item{margin-top: 50px;}
        .box-tab{
            margin: 0;
            .tab-btn-wrap{
                margin-bottom: 50px;
            }
        }
        .page-desc{margin-bottom: 10px !important;}
        .desc-sub-txt{
            @include defaultTxt;
            & + .desc-sub-txt {margin-top: 10px;}
        }
        .img-wrap{
            img{
                display: block;width: 100%;
            }
            & + .desc-sub-txt{margin-top: 20px;}
            &.type2 {
                width: 240px; margin-top: 20px;
            }
        }
        .cardList-wrap{
            .cardList{
                & > div{
                    & + div{margin-top: 30px;}
                    strong{@include normalTxt;}
                }
                .notification{margin-top: 10px;}
                &.flex-layout{
                    display: flex; gap: 80px;
                    & > div + div{margin-top: 0;}
                    .normal-txt {
                        & + p{
                            @include defaultTxt; margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
    .usim-esim-support{
        .box-tab{
            margin: 0;
            .tab-btn-wrap{
                margin-bottom: 50px;
            }
        }
        .cardList{
            .phone-list{
                display: flex; flex-wrap: wrap; gap: 10px 0;
                li{
                    width: 50%;
                    @include defaultTxt;
                }
            }
        }
    }

    .subscribe-adress {
        .page-tit {
            h1 {margin-bottom:0;}
        }
        &.address-result {
            .popup-header {max-height:none !important;padding-bottom:10px;}
            .box-flex {
                .box-btn {margin-top:0;}
            }
            .result-noti {
                display:flex;justify-content:space-between;align-items:center;
                &>span {@include mainTxt;}
            }
            .radio-block {
                li {
                    border-bottom:1px solid $gray02;
                    &>div{
                        padding:20px 20px 20px 40px;
                        p {@include defaultTxt;color:$black;}
                    }
                }
            }
            .bang-notice {margin-top:20px;}
        }
    }
    .btn-dark-gray {
        &.h-sm {padding:24px 0;color:$white;}
    }
    .ualmo-point {
        .noti {margin-top:20px;}
    }

    .directmall {
        .rq-form{
            padding-bottom: 50px; margin-bottom: 0; border-bottom: none;
        }
        .txt-vt{
            * {@extend %fontInherit;}
        }
        .tooltip-wrap{
            .txt-tooltip{
                top: 30px; left: 0;
                .info-wrap{
                    & + .info-wrap{margin-top: 20px;}
                    strong{@include normalTxt; display: block;}
                    p{
                        @include defaultTxt; margin-top: 10px; line-height: 1.5;
                    }
                }
            }
        }
        .box-select{width: 530px;}
        .box-input{
            &.size-sm {width: 340px; flex-shrink: 0;}
            &.size-md {width: 535px; flex-shrink: 0;}
        }
        .form-wrap{
            display: flex; align-items: center;margin-top: 40px;
            &.agree-wrap{
                margin-top: 80px;
            }
            &.top{
                align-items: flex-start;
                .form-title{padding-top: 20px;}
            }
            &:first-of-type{margin-top: 0;}
            .box-flex{padding: 0; margin-top: 0;}
            & + .main-txt-group{
                margin-top: 80px;
            }
            .select-input-wrap{
                display: flex; gap: 10px; width: auto; flex-wrap: nowrap;
                .box-flex{
                    margin: 0; padding-top: 0; width: auto;
                }
                // .box-select{
                //     width: 180px;
                // }
                .btn-select{width: 185px; max-width: 185px;}
                .box-select{width: 185px;}
                & + .box-flex{margin-top: 20px;}
            }
            .input-depth{
                display: flex; flex-wrap: wrap; gap: 0;flex-direction: row;
                & > .box-input{
                    margin-top: 10px;
                    & + .box-input{margin-left: 10px;}
                }
                .btn-check{
                    width: 100%; justify-content: space-between; flex-direction: row-reverse;
                    margin-top: 10px;
                }
                .today-noti{
                    @include normalTxt; color: $purple; padding-left: 30px;
                    @include backgroundImg('../../assets/images/icon/ico-today-noti.svg',left center,20px 20px);
                }
            }
            .form-title{
                display: flex; flex-direction: column; gap: 10px; flex-shrink: 0; width: 200px; margin: 0;
                @include normalTxt;
            }
            .delivery-way{
                display: flex; gap: 20px; flex-wrap: wrap;
                .btn-radio{
                    margin-top: 0;
                    label{gap: 10px;}
                }
            }
            .textarea-wrap{
                display: none;margin-top: 10px;
            }
            .box-input,.box-select{margin-top: 0;}
            .find-convenience{
                width: 260px;
                button{width: 100%;}
            }
        }
        .payment-form{
            display: flex; gap: 70px; justify-content: space-between;
            .payment-img{
                display: block; width: 250px;
            }
            .payment-conts{
                display: flex; flex-direction: column; gap: 40px;
                li{
                    display: flex; align-items: center;position: relative;
                    &:nth-of-type(2) {
                        .conts-title{
                            position: absolute; top: 22px;
                        }
                        .conts-box{padding-left: 200px;}
                    }
                }
                .conts {
                    &-title{
                        @include normalTxt;
                        display: block; width: 200px;
                    }
                    &-box {
                        .box-input{
                            input {
                                @include normalTxt; color: $purple;
                            }
                            .input-unit{margin-bottom: 0; top: 50%; bottom: auto; transform: translateY(-50%); @include normalTxt; color: $purple;}
                            .point-info{
                                @include defaultTxt;
                                margin-top: 10px;
                            }
                        }
                        .payment-amount{
                            font-size: 20px; font-weight: 400; letter-spacing: -0.4px; color: $gray05;
                            .txt-vt{
                                display: inline-block; @include contsTitle; font-weight: 700; margin-right: 10px;
                            }
                        }
                        .radio-group-wrap{margin: 0;}
                        .btn-radio-group{
                            width: 80%;
                        }
                    }
                }
            }
        }
        .notice-wrap{
            margin-top: 80px;
            .main-txt {
                display: block; margin-bottom: 10px;
            }
        }
        // .select-input-wrap {
        //     &+.box-btn {
        //         margin-top:20px;
        //         button, a {width:100%;}
        //     }
        // }
        // .box-btn {
        //     &+.box-flex {padding-top:20px;}
        // }
        // .box-flex {
        //     .success {
        //         &+.box-btn {display:none;}
        //     }
        // }
        .box-present-corp {
            display:flex;flex-wrap:wrap;
            &>li {flex:1 1 30%;align-self:center;margin-bottom:30px;}
            &>li.btn-combo {
                display:flex;justify-content:flex-start;
                .btn-radio-type2 {align-self:center;width:auto;height:40px;}
                .box-select {
                    align-self:center;width:auto;min-width:186px;
                    select {width:auto;min-width:186px;}
                }
            }
        }
        .buy-finish {
            h2 {
                margin-bottom:80px;@include contsTitle;
                &+.txt {margin:-40px 0 40px;@include smallTxt;line-height:1.33;}
            }
            .cardList-wrap {
                &+.cardList-wrap {margin-top:30px;}
                .cardList {
                    dl {
                        dt {width:223px;}
                        dd {width:calc(100% - 223px);}
                    }
                    .box-btn {
                        margin-top:30px;
                        button {width:100%;}
                    }
                }
            }

        }
        .purchase-num {
            display:flex;justify-content:space-between;margin-bottom:80px;
            .box-num {
                display:flex;justify-content:space-between;width:215px;
                .num {
                    width:80px;border:none;@include defaultTxt;text-align:center;
                    &:disabled {background:$white;}
                }
                button {
                    display:block;overflow:hidden;width:60px;height:60px;border-radius:7px;background-color:$gray02 !important;font-size:0;text-indent:-70px;transition:0.3s;
                    &:focus {background-color:$purple !important;}
                    &.btn-minus {@include backgroundImg('../../assets/images/icon/ico-minus-wh.svg', center center, 26px 4px);}
                    &.btn-plus {@include backgroundImg('../../assets/images/icon/ico-plus-wh.svg', center center, 26px 26px);}

                }
            }
        }
        .payment-method {
            margin-bottom:80px;
            .btn-radio {
                label {
                    display:flex;justify-content:center;align-items:center;min-height:80px;padding:0;
                    img {max-height:50px;}
                }
            }
        }
        .btn-sum {
            display:flex;flex-wrap:wrap;border-top:2px solid $gray02;background:$white;
            .payment-sum {
                display:flex;justify-content:space-between;align-self:stretch;width:100%;height:108px;padding:0 40px;
                h2 {align-self:center;margin-bottom:0;}
                .sum {
                    align-self:center;
                    @include smallTxt;line-height:1.33;text-align:right;
                    strong {@include contsTitle;color:$purple;line-height:40px;}
                }
            }
            button {flex:1 1 40%;}
        }
        &-view {
            .unit-tit-b{margin-bottom: 50px;}
            .step-list{margin-top: 10px;}
            .openmarket-list-noti {margin-bottom:30px;@include defaultTxt;}
            .openmarket-list {
                .cardList-wrap {
                    &+.cardList-wrap {margin-top:30px;}
                }
            }
           .banner-box {
                min-height:200px; margin-top:70px;
                img {vertical-align: top;}
           }
        }
    }
    //팝업
    .map-view {
        .box-btn {margin-top:30px;}
        .map-wrap {margin-top:40px;}
    }
    .transfer-telecom {
        .telecom-top{
            width: 100%;
            .corp-tit {display:block;margin-bottom:30px;@include mainTxt;}
            .corp-list {
                margin-bottom:40px;
                .btn-radio {
                    label{
                        display: flex; align-items: center; justify-content: center;line-height: initial;
                        &::before {
                            content: '';
                            display: inline-block; margin-right: 10.0001px; width: 26px; height: 26px;
                            @include backgroundImg('../../assets/images/icon/logo-skt.svg', center, contain);
                        }
                    }
                    &:nth-of-type(2) {
                        label::before {
                            background-image: url('../../assets/images/icon/logo-kt.svg');
                        }
                    }
                    &:nth-of-type(3) {
                        label::before {
                            background-image: url('../../assets/images/icon/logo-lg.svg');
                        }
                    }
                }
            }
            .telecom-tit {display:block;margin-bottom:16px;@include normalTxt;}
        }
        .telecom-list{
            margin-top: 40px;
            .btn-radio-group{
                gap: 20px 0;
                .btn-radio{
                    width: calc(100% / 3 - 20px); margin-left: 20px;
                    &:nth-child(3n + 1){margin-left: 0;}
                    label{width: 100%;padding: 0;}
                }
            }
        }
    }
    // .delivery {
    //     &-tit {
    //         margin-bottom:30px;
    //         h2 {display:inline-block;@include defaultTxt;vertical-align:top;}
    //         .tooltip-wrap {display:inline-flex;margin:5px 0 0 20px;vertical-align:top;}
    //     }
    //     &-way {
    //         margin-bottom:80px;
    //         .btn-radio {
    //             &+.btn-radio {margin-top:30px;}
    //         }
    //     }
    //     &-place {
    //         margin-bottom:80px;
    //         button, a {width:100%;}
    //     }
    //     &-request {
    //         margin-top:40px;
    //         h2 {display:block;margin-bottom:16px;}
    //         .textarea-wrap {margin-top:20px;}
    //     }
    // }
    .pickup {
        .search-opt {
            .serach-input-wrap {padding-top:20px;}
            .opt-subway {
                display:flex;flex-wrap:wrap;gap:20px;padding-top:20px;
                .box-select {flex:1 1 40%;}
            }
        }
    }
    .used-phone {
        .phone-info {
            margin-bottom:80px;
            dt {margin-bottom:10px;@include defaultTxt;}
            dd {
                @include smallTxt;line-height:1.33;
                &+dt {margin-top:40px;}
            }
        }
        .notification {margin-bottom:80px;}
        .accordian {
            .notification {margin-bottom:0;}
        }
    }
    .usim-install {
        .install-guide {
            dt {display:block;margin-bottom:10px;@include mainTxt;}
            dd {
                display:block;position:relative;
                &+dd {margin-top:10px;}
                .num {
                    display:block;position:absolute;left:50%;top:0;width:60px;height:60px;margin-left:-30px;border-radius:50%;background:$purple;
                    @include smallTxt;color:$white;line-height:60px;text-align:center;
                }
                .txt {display:block;@include defaultTxt;}
                img{display: block;}
            }
            &+.install-guide {margin-top:70px;}
        }
    }
    //유심개통안내
    .opening-guide{
        &.esim-guide{
            .unit-tit-b{
                &.type2{
                    margin-bottom: 30px;
                }
            }
            .cardList-wrap{margin-top: 0;}
            .flex-layout{
                display: flex; flex-wrap: wrap; gap: 30px;
                .qr-wrap{
                    display: flex; align-items: center; gap: 30px; width: 100%;
                    .qr {
                        &-img {
                            width: 120px; height: 120px; border-radius:10px; border: 1px solid $gray02; padding: 20px; flex-shrink: 0;
                            img{display: block; width: 100%;}
                        }
                        &-desc {
                            @include defaultTxt;
                        }
                    }
                }
                .cardList-wrap{
                    width: calc(50% - 15px); height: 200px; margin: 0;
                    .cardList {
                        display: flex; height: 100%; align-items: center; gap: 40px;
                        .icon-wrap{
                            width: 80px; height: 80px;
                            img{display: block; width: 100%;}
                        }
                    }

                }
            }
            .company-wrap{
                .unit-tit-b{
                    display: flex; justify-content: space-between; align-items: center;
                    .box-btn {
                        .btn-text-right {
                            font-size: 20px;
                        }
                    }
                }
                .cardList-wrap {
                    height: 134px;
                    .icon-wrap{
                        width: 120px !important; height: 120px !important;
                    }
                }
            }
            .accordian-wrap{
                margin-top: 50px;
                .accordian{
                    .acc-trigger{
                        @include mainTxt; display: inline-block; text-align: left; width: auto; padding-right: 40px; margin-bottom: 50px;
                    }
                    .acc-conts{
                        padding-bottom: 50px;
                        .cardList-wrap {
                            margin-top: 0;
                            & + .cardList-wrap {margin-top: 30px;}
                        }
                        .top-wrap{
                            .main-txt{margin-bottom: 30px;}
                            .qr-img{
                                width: 280px; height: 280px; padding: 20px; border-radius: 7px; border: 1px solid $gray02;margin-bottom: 50px;
                            }
                            .cardList-wrap{margin-bottom: 30px;}
                        }
                    }
                }
            }
            .guide-process{
                &-title {
                    display: block; margin-bottom: 20px; @include normalTxt;
                }
                display: flex; gap: 60px 106px; flex-wrap: wrap;
                li{
                    position: relative; width: 25%; max-width: 220px;
                    &:not(:first-of-type) {
                        &::before{
                            content: ''; position: absolute; left: -70px; top: 102px; display: block; width: 40px; height: 40px;
                            @include backgroundImg('../../assets/images/icon/ico-right-arrow-thin.svg');
                        }
                    }
                    &:nth-of-type(5) {
                        &::before{display: none;}
                    }
                    img{
                        display: block; width: 100%;
                    }
                    p {
                        @include normalTxt01; margin-top: 20px;
                        display: flex; gap: 10px;
                        .num{
                            @extend %fontInherit; display: block;
                        }
                    }
                }
            }
            .video-thumb-list{
                margin-top: 50px;
                .video-img{
                    width:406px; border-radius: 20px;  overflow: hidden;
                    iframe{
                        width: 100%; height:254px; display: block;
                    }
                }
            }
        }
        .box-btn{
            margin-top: 10px;
        }
        .icon-left{
            .notification{
                margin-top: 10px !important;
            }
        }
        .cardList-wrap{
            margin-top: 50px;
        }
        .banner{
            .left{
                .img{
                    width: 270px;
                }
            }
            .right{
                button{
                    background: #9572ce;
                }
            }
        }
        .img-left{
            margin-top: 70px; padding-left: 270px;
        }
        .notification{margin-top: 10px;}
    }
    //지도보기
    .buy-mapview{
        .map-area{
            width:100% !important; height:360px; background:#ddd; overflow: hidden; margin-top: 10px;
            // & > div{
            //     left: 50% !important;
            // }
        }
    }
    //편의점 조회 - 공통
    .buy-pickup{
        .main-txt{
            margin-top: 40px;
        }
        .filter-wrap{
            margin-top: 50px;
            .box-flex{
                padding-top: 20px;
            }
        }
        .place-address{
            .chip-wrap{
                    margin-bottom: 20px;
                    .chip{
                        &:first-child{
                            background-color:#b728bc;
                        }
                        &:nth-child(2){
                            background-color:#5257a1;
                        }
                    }
                }
            dt{
                h3{ @include mainTxt;}
            }
        }
        .no-result{
            margin:70px auto; text-align: center; @include defaultTxt;
        }
        .btn-group{
            margin-top: 30px;
        }
    }
    //편의점 조회
    .buy-store-pop{
        .filter-wrap {
            .btn-radio-group{
                .btn-radio{
                    width: 140px;
                    label{width: 100%;padding: 0;}
                }
            }
        }
        .box-paging{
            margin-top: 0;
        }
        .place-search-result{
            margin-top: 30px;
        }
        .result-list{
            border-bottom:1px solid $gray02;
        }
    }
    //픽업가능 편의점 조회
    .buy-pickup-convenience-pop{
        .popup-body{
            margin-top: 20px;
        }
        .box-tab{
            margin:0;
        }
        .box-paging{
            margin-top:30px;
        }
        .select-input-wrap{
            width:100%; gap:20px; margin-top: 20px;
            .box-select{
                flex:1;
            }
        }
        .place-search-result-wrap{
            margin-top: 50px;
            .place-search-result{
                .result-list{
                    border-bottom: 1px solid $gray02;
                }
            }
        }
    }


    .buy-convenience{
        .unit-tit-b{margin-bottom: 50px;}
        .slick-default{
            & > div{
                height: 200px; overflow: hidden;display: none;
            }
            .slick-list{display: block;}
            .slick-track{
                height: 100%;
                .slick-slide {
                    img{
                        height: 100%; object-fit: contain;
                    }
                }
            }
        }
        .cardList-wrap {
            & +  .cardList-wrap {margin-top: 30px;}
        }
    }
    //다이랙트몰 구매하기 완료
    .buy-gs25-finish{
        position: relative;
        .fix-unit-group{
            margin-bottom: 70px;
        }
        .btn-text-right{
            margin-left: 30px;
        }
        .fz24{
            font-size: 24px;
        }
        .btn-group{
            margin-top: 70px;
        }
        .floating-btn{
            width:80px; height: 80px; border-radius: 50%; background-color: $purple; @include defaultTxt; color:$white; text-align: center; display: flex; justify-content: center; align-items: center;
        }
    }
    //주소찾기
    .buy-delivery-adress{
        .box-flex{
            padding-top: 0;
        }
        .ligt-gray-box{
            width: 100%;
            background: #f6f6f6;
            padding: 40px;
            box-sizing: border-box;
            border-radius: 20px;
            margin-bottom: 60px;
            margin-top: 20px;
            & > h3{
                @include normalTxt;
            }
            .desc{
                margin-top: 10px; @include normalTxt01;
            }
            .notification{
                margin-top: 20px;
            }
        }
        .radio-block{
            margin-top: 50px; border-top:0;
        }
        .searching-wrap{
            margin-top: 10px;
            & > ul{
                border-bottom:1px solid $gray02;
            }
        }
        .before-searching{
            .default-txt{
                display: block; margin-top: 70px;text-align: center; margin-bottom: 70px;
            }
        }
        /*.btn-group{
            margin-top: 50px;
        }*/
        .box-paging {margin-top: 30px;}
    }
}
