<!DOCTYPE html>
<html lang="ko">
@@include('../src/pages/includes/guide/head.html', {title: '카드리스트 - DK BMC'})

<body>
    <div id="wsg-wrap" class="wsg">

        <header class="wsg-header">
            <h1>
                <a href="javascript:void(0);"><img src="../../status/assets/logo.png" alt="DK BMC"></a>
            </h1>
            <nav id="nav">
                <ul>
                    <li class=""><a href="wsg.html">웹스타일가이드</a></li>
                    <li class="on"><a href="slider.html">컴포넌트</a></li>
                    <li class=""><a href="scripts.html">스크립트 가이드</a></li>
                    <!-- <li class=""><a href="../layouts/layout.html">레이아웃</a></li> -->
                </ul>
            </nav>
        </header>

        <ul class="guideSubmenu">
            <li><a href="./slider.html">슬라이더</a></li>
            <li><a href="./button.html">버튼</a></li>
            <li><a href="./tab.html">탭</a></li>
            <li><a href="./form.html">폼</a></li>
            <li><a href="./list.html" class="guideOn">리스트</a></li>
            <li><a href="./accordian.html">아코디언</a></li>
            <li><a href="./layerpopup.html">팝업</a></li>
            <li><a href="./unit.html">유닛</a></li>
        </ul>

        <div class="guideContainer">
            <section class="sample">
                 <h2 class="sampleTitle">유심 카드</h2>
                 <div class="sampleContent">
                    <div class="cardList-wrap">
                        <h2 class="cardList-title">주문내역</h2>
                        <div class="cardList usim-card">
                            <dl>
                                <dt>2022-12-12 10:32</dt>
                                <dd class="txt-vt">결제 완료</dd>
                            </dl>
                            <div class="flex-box">
                                <div class="img">
                                    <img src="../../status/assets/card-usim-sm.png" alt="">
                                </div>
                                <div class="desc">
                                    <h2 class="tit">슈퍼비전 서비스</h2>
                                    <p class="txt">주문수량 : 1개</p>
                                    <strong class="txt-vt amount">8,800원</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </section>
            <section class="sample">
                <h2 class="sampleTitle">상품 리스트 결과 카드</h2>
                <div class="sampleContent">
                    <section class="cardList-wrap">
                        <h3 class="cardList-title">서비스 리스트</h3>
                        <div class="icon-left">
                            <dl class="cardList">
                                <dt>
                                    <div class="icon-img">
                                        <img src="../../status/assets/ico-doc-no-article.svg" alt="">
                                    </div>
                                </dt>
                                <dd>
                                    <h3 class="title">스타트 패키지</h3>
                                    <p class="desc">세일즈포스 핵심기능 패키지 제품과 기업별 원하는 기능으로 구축가능한 토탈 서비스</p>
                                </dd>
                            </dl>
                            <dl class="cardList">
                                <dt>
                                    <div class="icon-img">
                                        <img src="../../status/assets/ico-doc-no-article.svg" alt="">
                                    </div>
                                </dt>
                                <dd>
                                    <h3 class="title">스타트 패키지</h3>
                                    <p class="desc">세일즈포스 핵심기능 패키지 제품과 기업별 원하는 기능으로 구축가능한 토탈 서비스</p>
                                </dd>
                            </dl>
                            <dl class="cardList">
                                <dt>
                                    <div class="icon-img">
                                        <img src="../../status/assets/ico-doc-no-article.svg" alt="">
                                    </div>
                                </dt>
                                <dd>
                                    <h3 class="title">스타트 패키지</h3>
                                    <p class="desc">세일즈포스 핵심기능 패키지 제품과 기업별 원하는 기능으로 구축가능한 토탈 서비스</p>
                                </dd>
                            </dl>
                        </div>

                    </section>
                </div>
                <div class="sampleContent">
                    <h2 class="sampleTitle">상품 리스트 결과</h2>
                    <div class="products">
                        <div class="payment-result">
                            <div class="cardList-wrap">
                                <div class="cardList">
                                    <div class="product-name">
                                        <div class="flex-sb">
                                            <h3>표준 기반 빠른 구현 프로젝트 수행과 변경 관리 서비스</h3>
                                        </div>
                                        <strong>스타트 패키지</strong>
                                    </div>
                                    <div class="pay-amount">
                                        <span class="origin-pay">23,500원</span>
                                        <strong class="discount-pay">9,900원</strong>
                                    </div>
                                    <div class="box-btn">
                                        <button class="btns wid md-ripples ripples-light" type="button">가입하기</button>
                                    </div>
                                </div>
                            </div>
                            <div class="cardList-wrap">
                                <div class="cardList">
                                    <div class="product-name">
                                        <div class="flex-sb">
                                            <h3>표준 기반 빠른 구현 프로젝트 수행과 변경 관리 서비스</h3>
                                        </div>
                                        <strong>스타트 패키지</strong>
                                    </div>
                                    <div class="pay-amount">
                                        <span class="origin-pay">23,500원</span>
                                        <strong class="discount-pay">9,900원</strong>
                                    </div>
                                    <div class="box-btn">
                                        <button class="btns wid md-ripples ripples-light" type="button">가입하기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
<!-- 
            <section class="sample">
                <h2 class="sampleTitle">요금제 리스트 -type01</h2>
                <p>[참고] list.html에서는 아코디언이 오류남 / 실제 컨텐츠 페이지에서는 정상</p>
                <div class="sampleContent">
                    <div class="payment-accordian-card">
                        <div class="accordian">
                            <button class="title acc-trigger on">
                                데이터 1GB
                            </button>
                            <div class="acc-conts" style="display:block;">
                                <section class="acc-conts-wrap">
                                    <input type="radio" id="radio-card-01" name="radio-card">
                                    <label for="radio-card-01" class="">
                                        <span class="mark"><img src="../../assets/images/pc/icon/mark-corner-best.png" alt="BEST"></span>
                                        <div class="chip-wrap">
                                            <span class="chip paleblue">가격인하</span>
                                            <span class="chip red">NEW</span>
                                            <span class="chip hotpink">인기</span>
                                        </div>
                                        <dl class="header">
                                            <dt><h2 class="title">유심LTE(1GB+/무제한)</h2></dt>
                                            <dd>
                                                <div class="feature">
                                                    <span class="vol">10GB+일 5GB</span>
                                                    <span class="limit">집/이동전화 무제한</span>
                                                    <span class="supply">기본제공</span>
                                                </div>
                                                <div class="pay-amount">
                                                    <span class="origin-pay">23,500원</span>
                                                    <strong class="discount-pay">9,900원</strong>
                                                </div>
                                            </dd>
                                        </dl>
                                        <div class="bottom">
                                            <ul class="notification">
                                                <li class="tooltip-wrap">
                                                    최대 1Mbps 속도로 데이터 무제한 이용
                                                    <section class="box-tooltip ">
                                                        <button class="btn-tooltip" type="button">
                                                            <span class="hidden">툴팁보기</span>
                                                        </button>
                                                        <div class="txt-tooltip qos-guide">
                                                            <strong class="contents-title">최대 1Mbps는</strong>
                                                            <dl class="type-kakao">
                                                                <dt>웹서핑, e-mail, SNS, 카카오톡 이용 가능</dt>
                                                                <dd>텍스트 위주로 가능</dd>
                                                            </dl>
                                                            <dl class="type-youtube">
                                                                <dt>유튜브</dt>
                                                                <dd>시청 시 끊김 현상 발생 할 수 있음</dd>
                                                            </dl>
                                                            <p class="bang-notice">단 네트워크 상황에 따라 달라질 수 있음</p>
                                                        </div>
                                                    </section>
                                                </li>
                                                <li class="tooltip-wrap">
                                                    부가 통화 50분 무료
                                                    <section class="box-tooltip ">
                                                        <button class="btn-tooltip" type="button">
                                                            <span class="hidden">툴팁보기</span>
                                                        </button>
                                                        <div class="txt-tooltip qos-guide">
                                                            <strong class="qos-tit">부가 통화는</strong>
                                                            <p class="qos-txt">5XX나 16XX로 시작하는 전국 대표번호, 050X로 시작하는 평생 개인번호, 013 등으로 시작하는 주파수공용통신을 말합니다.</p>
                                                            <ul class="notification">
                                                                <li>제공되는 통화량 안에서 무료로 이용</li>
                                                                <li>월 제공량 소진 후 부가 통화 이용 시 정상 요금 부과</li>
                                                            </ul>
                                                        </div>
                                                    </section>
                                                </li>
                                                <li>
                                                    네이버페이 990P 적립
                                                </li>
                                            </ul>
                                        </div>
                                    </label>
                                </section>

                                <section class="acc-conts-wrap">
                                    <a href="#">
                                        <div class="chip-wrap">
                                            <span class="chip paleblue">가격인하</span>
                                            <span class="chip red">NEW</span>
                                            <span class="chip hotpink">인기</span>
                                        </div>

                                        <dl class="header">
                                            <dt><h2 class="title">유심LTE(1GB+/무제한)</h2></dt>
                                            <dd>
                                                <div class="feature">
                                                    <span class="vol">10GB+일 5GB</span>
                                                    <span class="limit">집/이동전화 무제한</span>
                                                    <span class="supply">기본제공</span>
                                                </div>
                                                <div class="pay-amount">
                                                    <span class="origin-pay">23,500원</span>
                                                    <strong class="discount-pay">9,900원</strong>
                                                </div>
                                            </dd>
                                        </dl>

                                        <div class="bottom">
                                            <ul class="notification">
                                                <li class="tooltip-wrap">
                                                    최대 1Mbps 속도로 데이터 무제한 이용
                                                    <section class="box-tooltip ">
                                                        <button class="btn-tooltip" type="button">
                                                            <span class="hidden">툴팁보기</span>
                                                        </button>
                                                        <div class="txt-tooltip qos-guide">
                                                            <strong class="contents-title">최대 1Mbps는</strong>
                                                            <dl class="type-kakao">
                                                                <dt>웹서핑, e-mail, SNS, 카카오톡 이용 가능</dt>
                                                                <dd>텍스트 위주로 가능</dd>
                                                            </dl>
                                                            <dl class="type-youtube">
                                                                <dt>유튜브</dt>
                                                                <dd>시청 시 끊김 현상 발생 할 수 있음</dd>
                                                            </dl>
                                                            <p class="bang-notice">단 네트워크 상황에 따라 달라질 수 있음</p>
                                                        </div>
                                                    </section>
                                                </li>
                                                <li class="tooltip-wrap">
                                                    부가 통화 50분 무료
                                                    <section class="box-tooltip ">
                                                        <button class="btn-tooltip" type="button">
                                                            <span class="hidden">툴팁보기</span>
                                                        </button>
                                                        <div class="txt-tooltip qos-guide">
                                                            <strong class="qos-tit">부가 통화는</strong>
                                                            <p class="qos-txt">5XX나 16XX로 시작하는 전국 대표번호, 050X로 시작하는 평생 개인번호, 013 등으로 시작하는 주파수공용통신을 말합니다.</p>
                                                            <ul class="notification">
                                                                <li>제공되는 통화량 안에서 무료로 이용</li>
                                                                <li>월 제공량 소진 후 부가 통화 이용 시 정상 요금 부과</li>
                                                            </ul>
                                                        </div>
                                                    </section>
                                                </li>
                                                <li>
                                                    네이버페이 990P 적립
                                                </li>
                                            </ul>
                                        </div>
                                    </a>
                                </section>

                                <section class="acc-conts-wrap">
                                    <a href="#">
                                        <div class="chip-wrap">
                                            <span class="chip paleblue">가격인하</span>
                                            <span class="chip red">NEW</span>
                                            <span class="chip hotpink">인기</span>
                                        </div>

                                        <dl class="header">
                                            <dt><h2 class="title">유심LTE(1GB+/무제한)</h2></dt>
                                            <dd>
                                                <div class="feature">
                                                    <span class="vol">10GB+일 5GB</span>
                                                    <span class="limit">집/이동전화 무제한</span>
                                                    <span class="supply">기본제공</span>
                                                </div>
                                                <div class="pay-amount">
                                                    <span class="origin-pay">23,500원</span>
                                                    <strong class="discount-pay">9,900원</strong>
                                                </div>
                                            </dd>
                                        </dl>

                                        <div class="bottom">
                                            <ul class="notification">
                                                <li class="tooltip-wrap">
                                                    최대 1Mbps 속도로 데이터 무제한 이용
                                                    <section class="box-tooltip ">
                                                        <button class="btn-tooltip" type="button">
                                                            <span class="hidden">툴팁보기</span>
                                                        </button>
                                                        <div class="txt-tooltip qos-guide">
                                                            <strong class="contents-title">최대 1Mbps는</strong>
                                                            <dl class="type-kakao">
                                                                <dt>웹서핑, e-mail, SNS, 카카오톡 이용 가능</dt>
                                                                <dd>텍스트 위주로 가능</dd>
                                                            </dl>
                                                            <dl class="type-youtube">
                                                                <dt>유튜브</dt>
                                                                <dd>시청 시 끊김 현상 발생 할 수 있음</dd>
                                                            </dl>
                                                            <p class="bang-notice">단 네트워크 상황에 따라 달라질 수 있음</p>
                                                        </div>
                                                    </section>
                                                </li>
                                                <li class="tooltip-wrap">
                                                    부가 통화 50분 무료
                                                    <section class="box-tooltip ">
                                                        <button class="btn-tooltip" type="button">
                                                            <span class="hidden">툴팁보기</span>
                                                        </button>
                                                        <div class="txt-tooltip qos-guide">
                                                            <strong class="qos-tit">부가 통화는</strong>
                                                            <p class="qos-txt">5XX나 16XX로 시작하는 전국 대표번호, 050X로 시작하는 평생 개인번호, 013 등으로 시작하는 주파수공용통신을 말합니다.</p>
                                                            <ul class="notification">
                                                                <li>제공되는 통화량 안에서 무료로 이용</li>
                                                                <li>월 제공량 소진 후 부가 통화 이용 시 정상 요금 부과</li>
                                                            </ul>
                                                        </div>
                                                    </section>
                                                </li>
                                                <li>
                                                    네이버페이 990P 적립
                                                </li>
                                            </ul>
                                        </div>
                                    </a>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </section> -->
            <section class="sample">
                <h2 class="sampleTitle">리스트 상단 옵션</h2>
                <div class="sampleContent">
                    <div class="box-board">
                        <div class="board-info">
                            <p class="box-info">
                                <strong>43</strong>건의 검색 결과
                            </p>

                            <div class="box-input">
                                <div class="input-wrap serach-input-wrap">
                                    <input type="text" placeholder="검색어를 입력" class="input-default" title="검색어 입력">
                                    <button class="ico-search" type="button">검색</button>
                                </div>
                            </div>
                        </div>

                        <!-- 리스트 -->
                        <div style="padding:40px;background:#f6f6f6;">
                            리스트 소스
                        </div>
                        <!-- //리스트 -->
                    </div>
                </div>
            </section>

            <section class="sample">
                <h2 class="sampleTitle">리스트</h2>
                <div class="sampleContent">
                    <ul class="list">
                        <li class="notice">
                           <a href="#">
                                <strong>[종료] 5월의 가정의 달 릴레이 이벤트</strong>
                                <div class="date">
                                    <p><span>2022.05.17</span> ~ <span>202.05.23</span></p>
                                    <p>발표일 : 2022.05.30</p>
                                </div>
                            </a>
                        </li>
                        <li class="notice">
                           <a href="#">
                                <strong>[종료] 5월의 가정의 달 릴레이 이벤트</strong>
                                <div class="date">
                                    <p><span>2022.05.17</span> ~ <span>202.05.23</span></p>
                                </div>
                            </a>
                        </li>
                        <li class="notice">
                           <a href="#">
                                <strong>[종료] 5월의 가정의 달 릴레이 이벤트</strong>
                                <div class="date">
                                    <p><span>2022.05.17</span> ~ <span>202.05.23</span></p>
                                    <p>발표일 : 2022.05.30</p>
                                </div>
                            </a>
                        </li>
                        <li>
                           <a href="#">
                                <strong>[종료] 5월의 가정의 달 릴레이 이벤트</strong>
                                <div class="date">
                                    <p><span>2022.05.17</span> ~ <span>202.05.23</span></p>
                                    <p>발표일 : 2022.05.30</p>
                                </div>
                            </a>
                        </li>
                        <li>
                           <a href="#">
                                <strong>[종료] 5월의 가정의 달 릴레이 이벤트</strong>
                                <div class="date">
                                    <p><span>2022.05.17</span> ~ <span>202.05.23</span></p>
                                    <p>발표일 : 2022.05.30</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>

            <section class="sample">
                <h2 class="sampleTitle">세로형 - 텍스트 카드 예시</h2>
                <div class="sampleContent ">
                    <section class="cardList-wrap">
                        <h3 class="cardList-title">계산된 예상 납부액 </h3>
                        <div class="cardList money-right">
                            <dl>
                                <dt>할인료</dt>
                                <dd>1,234,567원</dd>
                                <dt>연체료</dt>
                                <dd>1,248,500원</dd>
                                <dt>실입금액</dt>
                                <dd>748,500원</dd>
                                <dt>입금액</dt>
                                <dd>500,000원</dd>
                            </dl>
                            <dl>
                                <dt>예상 납부액</dt>
                                <dd class="txt-vt">848,500원</dd>
                            </dl>
                        </div>
                    </section>
                    <!-- <section class="cardList-wrap">
                        <h3 class="cardList-title">휴대폰 할부 정보</h3>
                        <div class="cardList money-right">
                            <dl>
                                <dt>월 청구금액</dt>
                                <dd>13,710원</dd>
                                <dt>총 남은 할부금액</dt>
                                <dd class="txt-vt">548,500원</dd>
                            </dl>
                        </div>
                    </section>
                    <section class="cardList-wrap">
                        <h3 class="cardList-title">분실한 휴대폰번호</h3>
                        <div class="cardList one-title">
                            <dl>
                                <dt>010-**34-**78</dt>
                            </dl>
                        </div>
                    </section>
                    <section class="cardList-wrap">
                        <h3 class="cardList-title">가입정보</h3>
                        <div class="cardList">
                            <dl>
                                <dt>가입자 이름</dt>
                                <dd>홍*동</dd>
                                <dt>가입 휴대폰<br>번호</dt>
                                <dd>010-**34-**78</dd>
                                <dt>가입 채널</dt>
                                <dd>U+유모바일</dd>
                                <dt>아이디</dt>
                                <dd>ajfej4</dd>
                                <dt>SNS 연결 계정</dt>
                                <dd>네이버, 구글</dd>
                            </dl>
                        </div>
                    </section>

                    <section class="cardList-wrap">
                        <h3 class="cardList-title">가입정보</h3>
                        <div class="cardList reverse">
                            <dl>
                                <dt>가입자 이름</dt>
                                <dd>홍*동</dd>
                                <dt>가입 휴대폰<br>번호</dt>
                                <dd>010-**34-**78</dd>
                                <dt>가입 채널</dt>
                                <dd>U+유모바일</dd>
                            </dl>
                        </div>
                    </section> -->

                    <section class="cardList-wrap">
                        <h3 class="cardList-title">회원사 정보</h3>
                        <div class="cardList">
                            <dl>
                                <dt>고객사명</dt>
                                <dd>홍길동 컴퍼니</dd>
                                <dt>대표자</dt>
                                <dd>홍길동</dd>
                                <dt>사업자등록번호</dt>
                                <dd>12345678</dd>
                                <dt>전화</dt>
                                <dd>02-7777-7777</dd>
                                <dt>웹사이트</dt>
                                <dd>WWW.DKBMC.COM</dd>
                            </dl>
                        </div>
                    </section>

                    <!-- <div class="cardList-wrap">
                        <div class="cardList">
                            <div class="list-header">
                                <strong>00,000원</strong>
                                <span>자동이체(카드)</span>
                            </div>
                            <dl>
                                <dt>변경일시</dt>
                                <dd>YYYY-MM-DD</dd>
                                <dt>변경경로</dt>
                                <dd>홈페이지</dd>
                            </dl>
                        </div>
                    </div> -->
                    <!-- 정보없을경우 -->
                    <!-- <section class="cardList-wrap">
                        <div class="cardList no-list">
                            <dl>
                                <dt>통신자료 제공 사실 내역이 존재하지 않습니다.</dt>
                            </dl>
                        </div>
                    </section>
                    <section class="cardList-wrap">
                        <div class="cardList notice-card">
                            <h2 class="title">휴대폰잔여할부금</h2>
                            <strong><em class="txt-vt">254,000</em>원</strong>
                        </div>
                    </section>

                    <div class="cardList-wrap">
                        <h2 class="cardList-title">삼성</h2>
                        <div class="cardList one-title">
                            <dl>
                                <dt>모델명 확인 방법</dt>
                                <dd>휴대폰 설정 > 휴대전화 정보 > 모델명 확인</dd>
                                <dt>일련번호 확인 방법</dt>
                                <dd>휴대폰 설정 > 휴대전화 정보 > 규제정보 > 일련번호 확인</dd>
                            </dl>
                            <div class="unit-img"><img src="/assets/images/pc/subpage/smaple-mac-img01.png" alt=""></div>
                        </div>
                    </div> -->
                </div>
            </section>

            <!-- <section class="sample">
                <h2 class="sampleTitle">rq from - 텍스트 카드 예시</h2>
                <div class="sampleContent ">
                    <div class="rq-form">
                        <section class="cardList-wrap">
                            <h2 class="cardList-title">가입정보를 확인해 주세요.</h2>
                            <div class="cardList">
                                <dl>
                                    <dt>가입자 이름</dt>
                                    <dd>홍*동</dd>
                                    <dt>생년월일</dt>
                                    <dd>YYYY.MM.DD</dd>
                                    <dt>신청일자</dt>
                                    <dd>YYYY.MM.DD</dd>
                                </dl>
                            </div>
                        </section>

                        <section class="cardList-wrap">
                            <div class="inner">
                                <div class="cardList">
                                    <dl>
                                        <dt>가입일자</dt>
                                        <dd>YYYY.MM.DD</dd>
                                        <dt>가입자 이름</dt>
                                        <dd>홍*동</dd>
                                        <dt>생년월일</dt>
                                        <dd>YYYY.MM.DD</dd>
                                    </dl>
                                </div>
                                <div class="cardList">
                                    <dl>
                                        <dt>현재 사용중인 휴대폰 개통일</dt>
                                        <dd>YYYY.MM.DD</dd>
                                        <dt>휴대폰 모델명</dt>
                                        <dd>SM-N975</dd>
                                        <dt>기기 일련번호</dt>
                                        <dd>********123</dd>
                                    </dl>
                                </div>
                            </div>
                        </section>
                        <!-- 내정보 한정 사용(다른 페이지에도 사용한 분이 있으면 제보 바람) 
                        <section class="cardList-wrap" style="width: 803px;">
                            <h2 class="cardList-title">소액결제 설정 현황</h2>
                            <div class="cardList first-full">
                                <dl>
                                    <dt>이용동의 상태</dt>
                                    <dd class="full">동의</dd>
                                    <dt>신청일</dt>
                                    <dd>YYYY-MM-DD</dd>
                                    <dt>일반결제</dt>
                                    <dd>차단</dd>
                                    <dt>신청경로</dt>
                                    <dd>U+유모바일 App</dd>
                                    <dt>월 자동결제</dt>
                                    <dd>차단 해제</dd>
                                </dl>
                            </div>
                        </section>
                        <section class="cardList-wrap">
                            <h2 class="cardList-title">소액결제 설정 현황</h2>
                            <div class="cardList add-full">
                                <dl>
                                    <dt>이용동의 상태</dt>
                                    <dd class="full">한줄 내용이 길때 full클래스를 추가</dd>
                                    <dt>신청일</dt>
                                    <dd>YYYY-MM-DD</dd>
                                    <dt>일반결제</dt>
                                    <dd>차단</dd>
                                    <dt>신청경로</dt>
                                    <dd>U+유모바일 App</dd>
                                    <dt>월 자동결제</dt>
                                    <dd>차단 해제</dd>
                                </dl>
                            </div>
                        </section>
                    </div>

                    <div class="description">
                        <h3>GUIDE</h3>
                        <p>
                            해당 스타일은 rq-form으로 감싸줘야 적용됨.<br>
                            이하 카드리스트 소스는 기본 카드리스트와 동일
                        </p>
                    </div>
                </div>
            </section> -->

            <section class="sample">
                <h2 class="sampleTitle">텍스트 리스트 - notification</h2>
                <div class="sampleContent">
                    <ul class="notification">
                        <li>
                            둘째, 수집하는 개인정보 항목과 수집 및 이용목적은 다음과 같습니다.
                            <ul class="list-hyphen">
                                <li>이름, 아이디, 비밀번호 : 회원제 서비스 이용에 따른 본인 확인 절차에 이용</li>
                                <li>휴대전화번호 : 고지사항 전달, 불만처리 등을 위한 원활한 의사소통 경로의 확보, 새로운 서비스 및 신상품이나 이벤트 정보 등의 안내, 실시간 배송 현황 알림 서비스 제공</li>
                                <li>회사명, 직무, 직책, 국가, 주소, 회사 전화번호, 팩스번호, 관심제품, 용도 : 회원 등록 및 관리, 신제품 홍보 및 이벤트 안내 등을 위해 이용</li>
                                <li>IP Address : 불량 회원의 부정 이용 방지와 비인가 사용 방지</li>
                            </ul>
                        </li>
                        <li>기타 위 수집된 정보를 이용하여 서비스 제공 및 회원관리, 마케팅 활동에 활용하고 있습니다.</li>
                    </ul>
                    <br><br>
                    <ul class="notification txt-rd">
                        <li>이용자들이 사전에 공개에 동의한 경우</li>
                        <li>홈페이지에 게시한 서비스 이용 약관 및 기타 회원 서비스 등의 이용약관 또는 운영원칙을 위반한 경우</li>
                        <li>자사 서비스를 이용하여 타인에게 정신적, 물질적 피해를 줌으로써 그에 대한 법적인 조치를 취하기 위하여 개인정보를 공개해야 한다고 판단되는 충분한 근거가 있는 경우</li>
                        <li>기타 법에 의해 요구된다고 선의로 판단되는 경우 (ex. 관련법에 의거 적법한 절차에 의한 정부/수사기관의 요청이 있는 경우 등)</li>
                        <li>통계작성, 학술연구나 시장조사를 위하여 특정 개인을 식별할 수 없는 형태로 광고주, 협력업체나 연구단체 등에 제공하는 경우</li>
                    </ul>
                    <br><br>
                    <ul class="list-hyphen">
                        <li>
                            구독 비스 가입 시, 입력한 휴대전화번호로 서비스 이용권(난수쿠폰) 발송 됩니다.<br>
                            서비스 이용권(난수쿠폰)은 정기결제 승인 완료 즉시 문자로 발송 됩니다.
                        </li>
                        <li>첫 결제일 기준으로, 매월 정기 결제 됩니다. (첫월 17일 결제 시, 매월 17일 결제일 지정)</li>
                        <li>결제가 정상 승인 되지 않을 경우, 서비스 이용권 제공 되지 않습니다.</li>
                        <li>유알모 포인트는 결제 승인 30일 후 자동 적립 됩니다.</li>
                        <li>서비스 이용권 수신 후, 등록 유효기간은 30일 입니다.(기간 만료 시 연장 및 재발급 불가)</li>
                    </ul>

                    <br><br>
                </div>
            </section>
            <section class="sample">
                <h2 class="sampleTitle">세로형 - 아이콘 + 텍스트 카드 예시</h2>
                <div class="sampleContent">
                    <h3><strong></strong></h3>
                    <section class="cardList-wrap">
                        <div class="cardList">
                            <div class="btn-check card-check">
                                <input type="checkbox" id="checkcard" checked >
                                <label for="checkcard"><span>선택</span></label>
                            </div>
                            <dl>
                                <dt>고객사명</dt>
                                <dd>홍길동 컴퍼니</dd>
                                <dt>대표자</dt>
                                <dd>홍길동</dd>
                                <dt>사업자등록번호</dt>
                                <dd>12345678</dd>
                                <dt>전화</dt>
                                <dd>02-7777-7777</dd>
                                <dt>웹사이트</dt>
                                <dd>WWW.DKBMC.COM</dd>
                            </dl>
                        </div>
                    </section>
                    <section class="cardList-wrap">
                        <div class="cardList">
                            <div class="btn-check card-check">
                                <input type="checkbox" id="checkcard1">
                                <label for="checkcard1"><span>선택</span></label>
                            </div>
                            <dl>
                                <dt>고객사명</dt>
                                <dd>홍길동 컴퍼니</dd>
                                <dt>대표자</dt>
                                <dd>홍길동</dd>
                                <dt>사업자등록번호</dt>
                                <dd>12345678</dd>
                                <dt>전화</dt>
                                <dd>02-7777-7777</dd>
                                <dt>웹사이트</dt>
                                <dd>WWW.DKBMC.COM</dd>
                            </dl>
                        </div>
                    </section>
                    <section class="icon-txt-card">
                        <img src="../../status/assets/ico-wifi.svg" alt="">
                        <p>
                            세일즈포스 핵심기능 패키지 제품과<br> 기업별 원하는 기능으로 구축가능한<br> 토탈 서비스
                        </p>
                    </section>
                </div>
            </section>
            <section class="sample">
                <h2 class="sampleTitle">세로형 - 밑줄 리스트</h2>
                <div class="sampleContent">
                    <section class="cardList-wrap">
                        <div class="cardList underLine">
                            <dl>
                                <dt>신청일자</dt>
                                <dd>YYYY.MM.DD</dd>
                                <dt>처리현황</dt>
                                <dd>처리 중</dd>
                                <dt>휴대폰번호</dt>
                                <dd>010-**34-**78</dd>
                                <dt>열람사유</dt>
                                <dd>열람사유 내용 입니다. 열람사유 내용 입니다. 열람사유 내용 입니다.</dd>
                            </dl>
                        </div>
                    </section>
                    <section class="cardList-wrap">
                        <div class="cardList underLine column_list">
                            <dl>
                                <dt>아이디</dt>
                                <dd>가입일시</dd>
                                <dt><strong></strong>  umobi00</dt>
                                <dd>YYYY.MM.DD</dd>
                            </dl>
                        </div>
                    </section>

                </div>
            </section>

            <section class="sample">
                <h2 class="sampleTitle">이미지 + 텍스트 카드 정렬</h2>
                <div class="sampleContent">
                    <div class="cardList-wrap product-imgCard-btn">
                        <div class="cardList">
                            <div class="item-top">
                                <div class="item-img"><img src="../../status/assets/imsi-phone.png" alt=""></div>
                                <div class="item-txt">
                                    <strong class="item-txt-tit">옥수수 전분</strong>
                                    <p class="item-txt-desc">결착제, 바삭한 식감, 점도조절, 점도증진제, 증량제, 표면싸이징</p>
                                </div>
                            </div>
                            <dl>
                                <dt>주요특성</dt>
                                <dd>식품 믕료</dd>
                                <dt>규격</dt>
                                <dd>pH : 4.0 ~ 7.0</dd>
                                <dt>포장단위</dt>
                                <dd>20kg</dd>
                                <dt>제품인증</dt>
                                <dd>HACCP</dd>
                            </dl>
                        </div>
                        <div class="box-btn">
                            <button class="btns corner-half md-ripples ripples-light">견적/ 구매문의</button>
                        </div>
                    </div>
                </div>
            </section>


            <section class="sample">
                <h2 class="sampleTitle">리스트 정렬</h2>
                <div class="sampleContent">
                    <ul class="other-list">
                        <li>
                            <div class="other-list-img"><img src="../../status/assets/temp-slider.jpg" alt=""></div>
                            <dl>
                                <dt>스타트 패키지</dt>
                                <dd>세일즈포스 핵심기능 패키지 제품과 기업별 원하는 기능으로 구축가능한 토탈 서비스</dd>
                            </dl>
                        </li>
                        <li>
                            <div class="other-list-img"><img src="../../status/assets/temp-slider.jpg" alt=""></div>
                            <dl>
                                <dt>스타트 패키지</dt>
                                <dd>세일즈포스 핵심기능 패키지 제품과 기업별 원하는 기능으로 구축가능한 토탈 서비스</dd>
                            </dl>
                        </li>
                        <li>
                            <div class="other-list-img"><img src="../../status/assets/temp-slider.jpg" alt=""></div>
                            <dl>
                                <dt>스타트 패키지</dt>
                                <dd>세일즈포스 핵심기능 패키지 제품과 기업별 원하는 기능으로 구축가능한 토탈 서비스</dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </section>


            <section class="sample">
                <h2 class="sampleTitle">원형숫자 STEP</h2>
                <div class="sampleContent">
                    <ol class="num-process-wrap">
                        <li>
                            <span class="number">1</span>
                            <div class="txt-wrap">
                                <strong>Prospecting</strong>
                                <p>Salesforce를 통한 체계적인 업무 프로세스 구축 및 비즈니스 향상 제안</p>
                            </div>
                        </li>
                        <li>
                            <span class="number">2</span>
                            <div class="txt-wrap">
                                <strong>Qualification</strong>
                                <p>Salesforce를 통한 체계적인 업무 프로세스 구축 및 비즈니스 향상 제안</p>
                            </div>
                        </li>
                        <li>
                            <span class="number">3</span>
                            <div class="txt-wrap">
                                <strong>Needs Analysis</strong>
                                <p>Salesforce를 통한 체계적인 업무 프로세스 구축 및 비즈니스 향상 제안</p>
                            </div>
                        </li>
                        <li class="disabled">
                            <span class="number">4</span>
                            <div class="txt-wrap">
                                <strong>Value Proposition</strong>
                                <p>Salesforce를 통한 체계적인 업무 프로세스 구축 및 비즈니스 향상 제안</p>
                            </div>
                        </li>
                    </ol>

                    <br><br>

                    <div class="num-process-typeU">
                        <ol class="num-process-wrap row01">
                            <li>
                                <span class="number">1</span>
                                <div class="txt-wrap">
                                    <strong>Prospecting</strong>
                                    <p>Salesforce를 통한 체계적인 업무 프로세스 구축 및 비즈니스 향상 제안</p>
                                </div>
                            </li>
                            <li>
                                <span class="number">2</span>
                                <div class="txt-wrap">
                                    <strong>Qualification</strong>
                                    <p>Salesforce를 통한 체계적인 업무 프로세스 구축 및 비즈니스 향상 제안</p>
                                </div>
                            </li>
                            <li>
                                <span class="number">3</span>
                                <div class="txt-wrap">
                                    <strong>Needs Analysis</strong>
                                    <p>Salesforce를 통한 체계적인 업무 프로세스 구축 및 비즈니스 향상 제안</p>
                                </div>
                            </li>
                            <li>
                                <span class="number">4</span>
                                <div class="txt-wrap">
                                    <strong>Value Proposition</strong>
                                    <p>Salesforce를 통한 체계적인 업무 프로세스 구축 및 비즈니스 향상 제안</p>
                                </div>
                            </li>
                        </ol>
                        <ol class="num-process-wrap row02">
                            <li>
                                <span class="number">5</span>
                                <div class="txt-wrap">
                                    <strong>Id. Decision Makers</strong>
                                    <p>Salesforce를 통한 체계적인 업무 프로세스 구축 및 비즈니스 향상 제안</p>
                                </div>
                            </li>
                            <li>
                                <span class="number">6</span>
                                <div class="txt-wrap">
                                    <strong>Perception Analysis</strong>
                                    <p>Salesforce를 통한 체계적인 업무 프로세스 구축 및 비즈니스 향상 제안</p>
                                </div>
                            </li>
                            <li>
                                <span class="number">7</span>
                                <div class="txt-wrap">
                                    <strong>Proposal/Price Quote</strong>
                                    <p>Salesforce를 통한 체계적인 업무 프로세스 구축 및 비즈니스 향상 제안</p>
                                </div>
                            </li>
                            <li>
                                <span class="number">8</span>
                                <div class="txt-wrap">
                                    <strong>Negotiation/Review</strong>
                                    <p>Salesforce를 통한 체계적인 업무 프로세스 구축 및 비즈니스 향상 제안</p>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
            </section>

            <section class="sample">
                <h2 class="sampleTitle">체크리스트</h2>
                <div class="sampleContent">
                    <div class="box-check-list">
                        <ul>
                            <li>커스텀 개발 전문 상담</li>
                            <li>세일즈포스 개발 컨설턴트</li>
                            <li>커스텀 개발 전문 상담</li>
                            <li>커스텀 개발 전문 상담</li>
                            <li>세일즈포스 개발 컨설턴트</li>
                        </ul>
                    </div>
                </div>
            </section>

            <section class="sample">
                <h2 class="sampleTitle">아이콘 + 텍스트 카드 리스트</h2>
                <div class="sampleContent">
                    <ul class="ico-txt-cardList">
                        <li>
                            <img src="../../status/assets/ico-offline-phone.svg" alt="salesforce">
                            <p>
                                <strong>스타트 패키지</strong>
                                <span>세일즈포스 핵심기능 패키지 제품과 기업별 원하는 기능으로 구축가능한 토탈 서비스</span>
                            </p>
                        </li>
                        <li>
                            <img src="../../status/assets/ico-offline-phone.svg" alt="salesforce">
                            <p>
                                <strong>스타트 패키지</strong>
                            </p>
                        </li>
                    </ul>

                    <br><br>

                    <ul class="ico-txt-cardList">
                        <li>
                            <img src="../../status/assets/ico-offline-phone.svg" alt="salesforce">
                            <p>
                                <span>세일즈포스 핵심기능 패키지 제품과<br> 기업별 원하는 기능으로 구축가능한<br> 토탈 서비스</span>
                            </p>
                        </li>
                        <li>
                            <img src="../../status/assets/ico-offline-phone.svg" alt="salesforce">
                            <p>
                                <span>세일즈포스 핵심기능 패키지 제품과<br> 기업별 원하는 기능으로 구축가능한<br> 토탈 서비스</span>
                            </p>
                        </li>
                        <li>
                            <img src="../../status/assets/ico-offline-phone.svg" alt="salesforce">
                            <p>
                                <span>세일즈포스 핵심기능 패키지 제품과<br> 기업별 원하는 기능으로 구축가능한<br> 토탈 서비스</span>
                            </p>
                        </li>
                    </ul>

                    <br><br>

                    <ul class="ico-txt-cardList">
                        <li>
                            <img src="../../status/assets/ico-offline-phone.svg" alt="salesforce">
                            <p>
                                <strong>스타트 패키지</strong>
                                <span>세일즈포스 핵심기능 패키지 제품과 기업별 원하는 기능으로 구축가능한 토탈 서비스</span>
                            </p>
                        </li>
                        <li>
                            <img src="../../status/assets/ico-offline-phone.svg" alt="salesforce">
                            <p>
                                <strong>스타트 패키지</strong>
                                <span>세일즈포스 핵심기능 패키지 제품과 기업별 원하는 기능으로 구축가능한 토탈 서비스</span>
                            </p>
                        </li>
                        <li>
                            <img src="../../status/assets/ico-offline-phone.svg" alt="salesforce">
                            <p>
                                <strong>스타트 패키지</strong>
                                <span>세일즈포스 핵심기능 패키지 제품과 기업별 원하는 기능으로 구축가능한 토탈 서비스</span>
                            </p>
                        </li>
                        <li>
                            <img src="../../status/assets/ico-offline-phone.svg" alt="salesforce">
                            <p>
                                <strong>스타트 패키지</strong>
                                <span>세일즈포스 핵심기능 패키지 제품과 기업별 원하는 기능으로 구축가능한 토탈 서비스</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </section>

        </div>
        <!-- SCRIPT IMPORT -->
    @@include('../src/pages/includes/scriptImport.html', {pageMain : false,})
    </div>
</body>
</html>
