<!DOCTYPE html>
<html lang="ko">
    @@include('../src/pages/includes/guide/head.html', {title: '스크립트 가이드 - DK BMC'})
<body>
    <div id="wsg-wrap" class="wsg">
        <header class="wsg-header">
            <h1>
                <a href="javascript:void(0);"><img src="../../status/assets/logo.png" alt="DK BMC"></a>
            </h1>
            <nav id="nav">
                <ul>
                    <li class=""><a href="wsg.html">웹스타일가이드</a></li>
                    <li class=""><a href="slider.html">컴포넌트</a></li>
                    <li class="on"><a href="scripts.html">스크립트 가이드</a></li>
                    <!-- <li class=""><a href="../layouts/layout.html">레이아웃</a></li> -->
                </ul>
            </nav>
        </header>
        <nav class="script-nav">
            <ul>
                <li><a href="#systemLayer">시스템 팝업</a></li>
                <li><a href="#layer">레이어 팝업 / 바텀 시트</a></li>
                <li><a href="#fullPopup">풀팝업</a></li>
                <li><a href="#toast">토스트 팝업</a></li>
            </ul>
        </nav>

        <div class="script-guide">
            <div class="guideContainer">
                <div class="sample" id="systemLayer">
                    <h2 class="sampleTitle">개발 팝업 가이드</h2>
                    <div class="script-desc">
                        <p>
                            일반적인 alert 레이어와 confirm 레이어는 아래와 같은 방식으로 호출.<br>
                            첫 번째 파라미터는 레이어의 형태를 분류하고(alert 과 confirm)<br>
                            두 번째 파라미터는 레이어 내에 표시 될 텍스트를 전달한다.(\n 으로 줄 바꿈 가능)<br>
                            세 번째 파라미터는 confirm 창 첫 번째 버튼 명(default: 취소)/alert 창의 버튼 명(defalut: 확인)<br>
                            네 번째 파라미터는 confirm 창 첫 번째 버튼의 링크(default: 링크 없음) / alert 창의 링크(defalut: 링크 없음)<br>
                            다섯 번재 파라미터는 confirm 창 두번째 버튼 명(defalut: 확인)<br>
                            여섯 번재 파라미터는 confirm 창 두번째 버튼의 링크(defalut: 링크 없음)
                        </p>
                        <p class="sample-code">
                            &lt;a href="javascript: uiCommon.systemLayer.init('alert', '타이틀\n타이틀\n타이틀', '확인', 'https://www.naver.com','','','내용\n내용\n내용');" &gt;alert 레이어 호출&lt;/a&gt;
                        </p>
                        <a href="javascript: uiCommon.systemLayer.init('alert', '타이틀\n타이틀\n타이틀', '확인', 'https://www.naver.com','','','내용\n내용\n내용');" class="call-layer">alert 레이어 호출</a>
                        <p class="sample-code">
                            &lt;a href="javascript: uiCommon.systemLayer.init('confirm', '타이틀\n타이틀\n타이틀', '동의 안함', 'https://www.daum.net', '동의', 'https://www.naver.com','아이디가 기억나지 않으신다면,\n아이디 찾기를 진행해 주세요.');" &gt;confirm 레이어 호출&lt;/a&gt;
                        </p>
                        <a href="javascript: uiCommon.systemLayer.init('confirm', '타이틀\n타이틀\n타이틀', '동의 안함', 'https://www.daum.net', '동의', 'https://www.naver.com','아이디가 기억나지 않으신다면,\n아이디 찾기를 진행해 주세요.');" class="call-layer">confirm 레이어 호출</a>
                    </div>
                </div>
                <div class="sample" id="layer">
                    <h2 class="sampleTitle">레이어 팝업 가이드(일반 레이어, 바텀 시트 동일)</h2>
                    <h3 class="script-title">열기 - data-popup 속성을 이용한 예</h3>
                    <div class="script-desc">
                        <p>
                            레이어를 띄울 trigger로 사용 할 DOM 요소에 data-popup 속성을 넣고 열고 싶은 레이어의 ID를 넣어준다.<br>
                            <span class="txt-rd">(한 페이지에 여러개의 레이어 팝업이 존재하는경우 ID는 중복 되지 않게 작성)</span>
                        </p>
                        <p class="sample-code">
                            &lt;a href="javascript:;" data-popup="test-layer01"&gt;layer popup open&lt;/a&gt;
                        </p>
                        <a href="javascript:;" class="call-layer" data-popup="test-layer01">layer popup open</a>
                    </div>
                    <h3 class="script-title">열기 - javascript function을 이용한 예</h3>
                    <div class="script-desc">
                        <p>
                            uiCommon.layer.open 호출 할때 스트링 파라미터 값으로 오픈할 레이어의 ID를 넣어준다.<br>
                            <span class="txt-rd">(한 페이지에 여러개의 레이어 팝업이 존재하는경우 아이디는 중복 되지 않게 작성)</span>
                        </p>
                        <p class="sample-code">
                            &lt;a href="javascript: uiCommon.layer.open('test-bottom01');" &gt;layer popup open&lt;/a&gt;
                        </p>
                        <a href="javascript: uiCommon.layer.open('test-bottom01');" class="call-layer">layer popup open</a>
                    </div>

                    <h3 class="script-title">닫기 - 레이어 내에 닫기 버튼이 존재 할 경우</h3>
                    <div class="script-desc">
                        <p>
                            레이어를 닫을때 trigger로 사용 할 DOM 요소에 class에 popup-close를 넣어 주면 해당 요소의 부모 레이어가 닫힘.<br>
                        </p>
                        <p class="sample-code">
                            &lt;a href="javascript:;" class="popup-close"&gt;layer popup close&lt;/a&gt;
                        </p>
                    </div>
                    <h3 class="script-title">닫기 - javascript function을 이용한 예</h3>
                    <div class="script-desc">
                        <p>
                            uiCommon.layer.close 호출 할때 스트링 파라미터 값으로 닫을 레이어의 ID를 넣어준다.
                        </p>
                        <p class="sample-code">
                            &lt;a href="javascript: uiCommon.layer.close('test-bottom01');" &gt;layer popup close&lt;/a&gt;
                        </p>
                    </div>
                </div>
                <div class="sample" id="fullPopup">
                    <h2 class="sampleTitle">풀팝업 가이드(레이어로 띄울 경우)</h2>
                    <div class="script-desc">
                        <p class="txt-rd">
                            풀팝업을 레이어로 이용 시 아래와 같이 class에 layer-type 추가.(일반 페이지로 적용시 layer-type 삭제)<br>
                            &lt;section class="full-popup layer-type"&gt;

                        </p>
                    </div>
                    <h3 class="script-title">열기 - data-fullPopup 속성을 이용한 예</h3>
                    <div class="script-desc">
                        <p>
                            레이어를 띄울 trigger로 사용 할 DOM 요소에 data-fullPopup 속성을 넣고 열고 싶은 풀팝업의 ID를 넣어준다.<br>
                            <span class="txt-rd">(한 페이지에 여러개의 풀팝업이 존재하는경우 ID는 중복 되지 않게 작성)</span>
                        </p>
                        <p class="sample-code">
                            &lt;a href="javascript:;" data-fullPopup="test-full-popup"&gt;full popup open&lt;/a&gt;
                        </p>
                        <a href="javascript:;" class="call-layer" data-fullPopup="test-full-popup">full popup open</a>
                    </div>
                    <h3 class="script-title">열기 - javascript function을 이용한 예</h3>
                    <div class="script-desc">
                        <p>
                            uiCommon.layer.open 호출 할때 스트링 파라미터 값으로 오픈할 레이어의 ID를 넣어준다.<br>
                            <span class="txt-rd">(한 페이지에 여러개의 풀팝업이 존재하는경우 ID는 중복 되지 않게 작성)</span>
                        </p>
                        <p class="sample-code">
                            &lt;a href="javascript: uiCommon.fullPopup.open('test-full-popup');" &gt;full popup open&lt;/a&gt;
                        </p>
                        <a href="javascript: uiCommon.fullPopup.open('test-full-popup');" class="call-layer">full popup open</a>
                    </div>

                    <h3 class="script-title">닫기 - 풀팝업 헤더에 닫기 버튼</h3>
                    <div class="script-desc">
                        <p>
                            풀팝업 헤더에 닫기 버튼 클릭시 자동으로 요소의 부모 풀팝업이 닫힘
                        </p>
                    </div>
                    <h3 class="script-title">닫기 javascript function을 이용한 예</h3>
                    <div class="script-desc">
                        <p>
                            uiCommon.fullPopup.close 호출 할때 스트링 파라미터 값으로 닫을 레이어의 ID를 넣어준다.
                        </p>
                        <p class="sample-code">
                            &lt;a href="javascript: uiCommon.fullPopup.close('test-full-popup');" &gt;full popup close&lt;/a&gt;
                        </p>
                    </div>
                </div>
                <div class="sample" id="toast">
                    <h2 class="sampleTitle">토스트 팝업 가이드</h2>
                    <h3 class="script-title">열기 & 닫기 - javascript function을 이용한 예</h3>
                    <div class="script-desc">
                        <p>
                            uiCommon.toast.init 호출 할때 스트링 파라미터 값으로 토스트 팝업에 들어갈 텍스트를 넣어 준다.
                        </p>
                        <p class="sample-code">
                            &lt;a href="javascript: uiCommon.toast.init('복사 되었습니다.')" &gt;toast popup&lt;/a&gt;
                        </p>
                        <a href="javascript: uiCommon.toast.init('복사 되었습니다.')" class="call-layer">toast popup</a>
                    </div>
                </div>
            </div>
        </div>



        @@include('./pages/includes/layerpopup.html')
    </div>
    <!-- LAYER POPUP -->

    <!-- SCRIPT IMPORT -->
    @@include('../src/pages/includes/scriptImport.html', {pageMain : false,})
    <script>
        $(document).ready(function(){
            $('.script-nav li a').on('click', function(e){
                e.preventDefault();
                let t = $(this).attr('href').replace('#', '');
                $('html, body').scrollTop($('.guideContainer').find('#' + t).offset().top - 150)
            });
        });
    </script>
</body>

</html>
