<!DOCTYPE html>
<html lang="ko">
@@include('../src/pages/includes/guide/head.html', {title: '공통UI - DK BMC'})

<body>
    <div id="wsg-wrap" class="wsg">

        <header class="wsg-header">
            <h1>
                <a href="javascript:void(0);"><img src="../../status/assets/logo.png" alt="DK BMC"></a>
            </h1>
            <nav id="nav">
                <ul>
                    <li class=""><a href="wsg.html">웹스타일가이드</a></li>
                    <li class="on"><a href="slider.html">컴포넌트</a></li>
                    <li class=""><a href="scripts.html">스크립트 가이드</a></li>
                    <!-- <li class=""><a href="../layouts/layout.html">레이아웃</a></li> -->
                </ul>
            </nav>
        </header>

        <ul class="guideSubmenu">
            <li><a href="./slider.html">슬라이더</a></li>
            <li><a href="./button.html">버튼</a></li>
            <li><a href="./tab.html">탭</a></li>
            <li><a href="./form.html">폼</a></li>
            <li><a href="./list.html">리스트</a></li>
            <li><a href="./accordian.html">아코디언</a></li>
            <li><a href="./layerpopup.html">팝업</a></li>
            <li><a href="./unit.html" class="guideOn">유닛</a></li>
        </ul>

        <div class="guideContainer">
            <!-- <section class="sample">
                <h2 class="sampleTitle">00. 컨텐츠 내용 간격</h2>
                <div class="subject-wrap">
                    <h3 class="con-title-big">기본 혜택</h3>
                    <h4 class="con-title-sm">유의 사항</h4>
                    <p class="sub-info">월정액(기본료) 및 국내통화료에는 별도의 규정이 없으면 부가세가 별도로 청구됩니다.</p>
                </div>
                <div class="subject-wrap">
                    <h3 class="con-title-big">기본 혜택</h3>
                    <h4 class="con-title-sm">유의 사항</h4>
                   <ul class="notification">
                        <li>단문 메시지 : 22원 / 한글 70자(140Byte)이하</li>
                        <li>장문 메시지 : 22원/ 한글 41~120자(81~240Byte)</li>
                   </ul>
                </div>
            </section> -->
            <section class="sample">
                <h2 class="sampleTitle">01.텍스트 컨텐츠 고정간격 기본</h2>
                <div class="fix-unit-group">
                    <h1 class="unit-tit-page">개인정보처리방침 (36px)</h1>

                    <h2 class="unit-tit-b">개인정보처리방침 상세 (30px)</h2>

                    <h3 class="unit-tit-m">제1조(개인정보의 처리 목적) (20px)</h3>

                    <h4 class="unit-tit-s">①  고객 문의사항에 대한 서비스 제공</h4>

                    <p class="unit-txt">
                        고객문의, 접수, 결과 안내사항에 대한 제공을 목적으로 개인정보를 처리합니다.
                    </p>

                    <ul class="notification">
                        <li>개인정보분쟁조정위원회 : (국번없이) 1833-6972 (<a href="https://www.kopico.go.kr/main/main.do" target="_blank">www.kopico.go.kr</a>)</li>
                        <li>개인정보침해신고센터 : (국번없이) 118 (<a href="https://privacy.kisa.or.kr/main.do" target="_blank"></a>privacy.kisa.or.kr</a>)</li>
                        <li>대검찰청 : (국번없이) 1301 (<a href="https://www.spo.go.kr/site/spo/main.do" target="_blank"></a>www.spo.go.kr</a>)</li>
                        <li>경찰청 : (국번없이) 182 (<a href="https://ecrm.police.go.kr/minwon/main" target="_blank"></a>ecrm.cyber.go.kr</a>)</li>
                    </ul>

                    <div class="unit-box-img">
                        <div class="unit-box-tit">
                            <strong class="box-tit">마케터가 좋아할 세일즈포스의 리포팅 기능(24px)</strong>
                        </div>
                        <div class="unit-box-ct"><!-- .box-ct는 하위 depth의 컨텐츠 일때만 사용 / 기본 컨텐츠일때는 사용x -->
                            <img src="../../status/assets/sample02.webp" alt="Salesforce">
                        </div>
                    </div>

                    <div class="unit-box-img">
                        <div class="unit-box-tit">
                            <strong class="box-tit">마케터가 좋아할 세일즈포스의 리포팅 기능(24px)</strong>
                            <p class="unit-txt">세일즈포스는 아주 강력한 리포팅 툴을 가졌습니다. 늘 가망고객들을 찾고있는 마케터들에게도 아주 유용한 기능일 것 같은데요,<br> 오늘 포스팅에서는 세일즈포스의 핵심 리포팅 툴 세가지 중 첫번째를 다뤄볼까 합니다.</p>
                        </div>
                        <img src="../../status/assets/sample02.webp" alt="Salesforce">
                    </div>

                    <div class="unit-box-txt">
                        <ul class="notification">
                            <li>[U+스팸차단] 앱(APP)에서 [스팸 메시지함] 바로가기 선택 → 스팸 차단내역 보기</li>
                            <li>휴대폰에서 [문자 메시지] → 설정 또는 우상단 상세메뉴 클릭 → 스팸 관리 → 스팸함</li>
                            <li>
                                기타 후후, 후스콜 등 앱(APP)에서 제공하는 스팸 차단 서비스 활용
                                <div class="unit-link">
                                    <a href="https://www.salesforce.com/kr/?ir=1" class="btns w-xs line">등록하기</a>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="unit-box-gray">
                        <ul class="notification">
                            <li>[U+스팸차단] 앱(APP)에서 [스팸 메시지함] 바로가기 선택 → 스팸 차단내역 보기</li>
                            <li>휴대폰에서 [문자 메시지] → 설정 또는 우상단 상세메뉴 클릭 → 스팸 관리 → 스팸함</li>
                        </ul>
                    </div>


                    <div class="unit-link">
                        <a href="https://www.salesforce.com/kr/?ir=1" class="btns w-xs line">등록하기</a>
                    </div>

                    <hr class="unit-hr">

                    <div class="unit-img">
                        <img src="../../status/assets/sample02.webp" alt="Salesforce">
                    </div>

                    <div class="unit-btn-btm">
                        <button class="btns line" type="button">목록</button>
                        <button class="btns lightgray" type="button">확인</button>
                        <button class="btns md-ripples ripples-light">완료</button>
                    </div>

                </div>

                <div class="description">
                    <h3>간격 GUIDE</h3>
                    <p style="line-height:1.6;">
                        <span style="color:red">: 본 간격 가이드는 텍스트 위주의 페이지에 적용되는 가이드임.</span><br>
                        <span style="color:red">: unit 클래스는 간격조절용으로만 사용</span><br>
                        * 페이지타이틀(36px) : bottom 50px<br>
                        * 대타이틀(30px) : margin 70px 0 10px<br>
                        * 중타이틀(20px) : margin 50px 0 10px<br>
                        - 팝업의 경우 중타이틀은 24px<br>
                        * 소타이틀(16px) : bottom 20px<br>
                        * 한 단락안의 모든 unit + unit 사이는 10px 간격이 기본<br>
                        - 예외) 컨텐츠 없이 타이틀(대,중,소)만 있는 경우<br>
                        각 타이틀의 기본간격을 이용(대타이틀 70px / 중타이틀 50px / 소타이틀 20px)<br>

                        <br>
                        * 박스 컨텐츠는 .unit-box-img, .unit-box-txt를<br>
                        * 이미지 컨텐츠는 .unit-img를<br>
                        * 링크(다음 줄로 넘어간 링크)는 .unit-link를<br>
                        감싸서 사용(규격통제용)<br>

                        <br>
                        * 박스 컨텐츠 중 박스 내용이<br>
                        이미지 혼합 컨텐츠면 .unit-box-img(박스 안 여백 50px)<br>
                        단순 텍스트 컨텐츠면 .unit-box-txt(박스 안 여백 30px)<br>

                        <br>
                        * PC 컨텐츠 + 페이지버튼 사이 : top 50px<br>
                        * 팝업 컨텐츠 + 페이지버튼 사이 : top 30px<br>

                        <br>
                        <span style="color:blue">** 상단 rq-form과 같은 형태의 컨텐츠는 제외</span><br>
                        (상단 01.휴대폰번호 선택 및 정보 / 02.write / 03.view의 공통UI 참고)<br><br>
                        <span style="color:blue"> ** 박스 컨텐츠 안의 컨텐츠 간격은 예외가 많아 별도 스타일 적용 추천</span><br>
                        예1) 박스타이틀 여백이 다음에 하위 depth 컨텐츠가 올 경우 50px<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;박스타이틀 여백이 다음에 바로 텍스트,이미지같은 컨텐츠가 바로 올 경우 30px<br>
                    </p>
                </div>
            </section>

            <section class="sample">
                <h2 class="sampleTitle">01.텍스트 컨텐츠 고정간격 예시</h2>

                <div class="fix-unit-group">
                    <h1 class="unit-tit-page">세일즈포스가 하는 일(36px)</h1>
                    <p class="unit-txt">
                        세일즈포스의 고객 관계 관리(CRM) 소프트웨어는 부서 간의 기술 사일로를 허물어 줍니다. <br>또한 세일즈포스의 도구는 고객을 만족시키고 고객과 지속적인 관계를 구축하는 놀라운 순간들이 제공되도록 지원합니다.
                    </p>

                    <h2 class="unit-tit-b">세일즈포스는 어떤 일을 하나요? (30px)</h2>

                    <h2 class="unit-tit-b">세일즈포스는 어떻게 작동하나요? (30px)</h2>

                    <hr class="unit-hr">

                    <h2 class="unit-tit-b">마케팅에 세일즈포스를 어떻게 활용할 수 있나요? (30px)</h2>

                    <h2 class="unit-tit-b">고객 영업에 세일즈포스를 어떻게 활용하나요? (30px)</h2>

                    <hr class="unit-hr">

                    <p class="unit-txt">
                        세일즈포스가 원래 영업팀을 위해 만들어졌다는 사실을 알고 계셨나요? 저희의 목표는 판매자가 비용을 절감하고 생산성을 높이며 더 많은 거래를 성사시킬 수 있도록 돕는 것입니다.<br> Sales Cloud를 도입한 후 평균적으로 최대 32%의 비용 절감, 29%의 영업 생산성 향상, 27%의 거래 성사율 증가를 달성했습니다
                    </p>

                    <h2 class="unit-tit-b">세일즈포스를 B2C 및 B2B 쇼핑 및 커머스에도 사용할 수 있나요?</h2>

                    <div class="unit-box">
                        <ul class="notification">
                            <li>Sales 영업 지원</li>
                            <li>Service 고객 서비스</li>
                            <li>Marketing B2C 마케팅 자동화</li>
                        </ul>
                    </div>

                    <h3 class="unit-tit-m">고객 관계 관리(CRM) 서비스는 어떤가요? 고객 서비스를 위한 도구도 있나요? (20px)</h3>

                    <h3 class="unit-tit-m">IT는 어떤가요?</h3>

                    <h3 class="unit-tit-m">세일즈포스의 업무 활용 사례</h3>

                    <p class="unit-txt">
                        공유하고 싶은 고객 사례가 많지만, 우선 Customer 360이 성공을 거두는 데 어떻게 도움이 되는지에 대한 한 가지 예만 살펴보겠습니다
                    </p>

                    <h3 class="unit-tit-m">세일즈포스가 고객과 CRM 마케팅에 집착하는 이유는 무엇일까요? (20px)</h3>

                    <ul class="notification">
                        <li>Sales 영업 지원</li>
                        <li>Service 고객 서비스</li>
                        <li>Marketing B2C 마케팅 자동화</li>
                    </ul>

                    <h3 class="unit-tit-m">어떻게 하면 세일즈포스를 통해 비용을 절감하고 ROI를 높일 수 있나요?</h3>

                    <div class="unit-box">
                        <ul class="notification">
                            <li>Sales 영업 지원</li>
                            <li>Service 고객 서비스</li>
                            <li>Marketing B2C 마케팅 자동화</li>
                        </ul>
                    </div>

                    <h4 class="unit-tit-s">신뢰할 수 있는 단일 플랫폼으로 비용 절감 (16px)</h4>

                    <h4 class="unit-tit-s">자동화를 통한 생산성 향상 (16px)</h4>

                    <h4 class="unit-tit-s">고객 감동을 통한 효율적인 성장 촉진 (16px)</h4>

                    <h4 class="unit-tit-s">우리가 해결을 돕고 있는 글로벌 문제 (16px)</h4>

                    <p class="unit-txt">
                        저희는 훌륭한 제품을 만드는 것 이상의 일을 하는 회사입니다. 우리의 가장 큰 자원은 우리의 가치이며, 크고 작은 기업들이 플랫폼의 사용을 통해 변화를 이끌어 더 나은 미래를 만들 수 있다고 믿습니다.
                    </p>
                    <p class="unit-txt">
                        따라서 우리는 현재의 기후 위기, 신뢰의 위기, 불평등의 위기를 해결하기 위해 최선을 다하고 있습니다. 1999년 사업을 시작한 이래로, 세일즈포스는 지구 환경을 지원하는 데 중점을 두고 있습니다. 우리는 포괄적인 오염 추적 도구를 출시했으며, 전 세계 산림 재조림 운동인 1조 그루 나무 심기 운동을 후원하고 있습니다.
                    </p>

                    <p class="unit-txt">
                        기업은 다양성과 포용성을 추구함으로써 모든 직원이 일하기 좋은 환경을 조성할 수 있습니다. 자세한 내용은 트레일헤드 학습 플랫폼의 직장 내 평등 모듈에서 확인할 수 있습니다. 우리는 윤리적이고 포괄적인 제품을 만드는 방법에 대한 교육도 누구나 이용할 수 있도록 제공합니다. 이것은 의도를 가지고 기술을 구축하기 위한 운동의 일환입니다.
                    </p>

                    <h4 class="unit-tit-s">고객에게 집중하여 미래를 구축하세요. (16px)</h4>
                    <ul class="notification">
                        <li>[핵심은 팀에 대한 투자가 곧, 고객 지원에 대한 투자라는 것입니다. 고객을 최우선으로 생각하는 종합적인 플랫폼에 투자함으로써 팀과 고객 모두를 지원하세요.</li>
                        <li>이렇게 하면 팀은 실시간 데이터, 자동화된 지능형 워크플로우 및 고객과의 개인화된 상호작용을 수행할 수 있습니다. 또한 규모에 맞는 서비스 품질을 제공하면서 비용 절감을 염두해 미래를 구축할 수 있습니다.</li>
                        <li>팀의 요구사항에 귀를 기울이고 성공하기 위해 필요한 것이 무엇인지 물어보세요. 적은 자원으로 더 많은 일을 하고 싶다면, 이를 달성할 수 있는 적절한 도구를 찾아야 합니다. 효율성이란 당신의 팀과 고객이 사용하는 도구에 투자하여 고객 지원을 확장하는 동시에 변화에 기대어 미래를 내다보는 것을 의미합니다.</li>
                    </ul>

                    <h4 class="unit-tit-s">스팸(문자메시지/음성전화) 차단 서비스란? (16px)</h4>

                    <ul class="notification">
                        <li>타이틀과 notification 사이 여백이 필요한 경우 .unit-wrap을 사용</li>
                        <li>휴대폰에서 [문자 메시지] → 설정 또는 우상단 상세메뉴 클릭 → 스팸 관리 → 스팸함</li>
                        <li>기타 후후, 후스콜 등 앱(APP)에서 제공하는 스팸 차단 서비스 활용</li>
                    </ul>

                    <h4 class="unit-tit-s">스팸(문자메시지/음성전화) 차단 서비스란? (16px)</h4>
                    <div class="unit-box">
                        <ul class="notification">
                            <li>[U+스팸차단] 앱(APP)에서 [스팸 메시지함] 바로가기 선택 → 스팸 차단내역 보기</li>
                            <li>휴대폰에서 [문자 메시지] → 설정 또는 우상단 상세메뉴 클릭 → 스팸 관리 → 스팸함</li>
                            <li>기타 후후, 후스콜 등 앱(APP)에서 제공하는 스팸 차단 서비스 활용</li>
                        </ul>
                    </div>

                    <h4 class="unit-tit-s">스팸(문자메시지/음성전화) 차단 서비스란? (16px)</h4>
                    <div class="unit-img">
                        <img src="../../status/assets/sample02.webp" alt="Salesforce">
                    </div>
                </div>

                <div class="description">
                    <h3>GUIDE</h3>
                    <p>
                        실제 적용 페이지<br>
                        * 상품 > 휴대폰 분실/파손 보험 : <a href="http://localhost:8091/pages/products/breakage-list.html" target="_blank">/products/breakage-list.html</a><br>
                        * 상품 > 생활구독서비스 > 가입하기 : <a href="http://localhost:8091/pages/products/life-detail.html" target="_blank">/products/life-detail.html</a><br>
                        * 고객센터 > 휴대폰 분실/파손 보험 > 보이스피싱 : <a href="http://localhost:8091/pages/customer/protect-damage-voice.html" target="_blank">/customer/protect-damage-voice.html</a><br>

                    </p>
                </div>
            </section>

            <section class="sample">
                <h2 class="sampleTitle">02.1280px이상의 컨텐츠 layout 변경</h2>
                <div class="sampleContent">

                    <main class="container">
                        <div class="sub-conts fix-unit-wide" style="min-width:auto !important;">
                            <div class="unit-wide" style="width:100% !important;min-width:auto !important;margin:0 auto 10px;text-align:center;">
                                <p style="height:200px;background:#ddd;">.unit-wide 영역</p>
                            </div>
                            <div class="unit-origin" style="width:800px !important;margin:0 auto 10px;text-align:center;">
                                <p style="height:100px;background:#f6f6f6;">.unit-origin 영역</p>
                            </div>
                            <div class="unit-origin" style="width:800px !important;margin:0 auto 10px;text-align:center;">
                                <p style="height:100px;background:#f6f6f6;">.unit-origin 영역</p>
                            </div>
                        </div>
                    </div>

                    <div class="description">
                        <h3>GUIDE</h3>
                        <p>
                            .fix-unit-wide는 반드시 .sub-conts태그에 추가<br>
                            .unit-wide는 wide영역이 적용될 컨텐츠에 추가<br>
                            .unit-origin은 정상영역이 적용될 컨텐츠에 추가<br>
                        </p>
                    </div>

                </div>
            </section>
        </div>
    </div>

    <!-- SCRIPT IMPORT -->
    @@include('../src/pages/includes/scriptImport.html', {pageMain : false,})

    <!-- LAYER POPUP -->
    <!-- @@include('./pages/includes/layerpopup.html') -->
</body>

</html>
