<!DOCTYPE html>
<html lang="ko">
    @@include('../src/pages/includes/guide/head.html', {title: 'WSG - DK BMC'})

<body>
    <div id="wsg-wrap" class="wsg">

        <header class="wsg-header">
            <h1>
                <a href="javascript:void(0);"><img src="../../status/assets/logo.png" alt="DK BMC"></a>
            </h1>
            <nav id="nav">
                <ul>
                    <li class="on"><a href="wsg.html">웹스타일가이드</a></li>
                    <li class=""><a href="slider.html">컴포넌트</a></li>
                    <li class=""><a href="scripts.html">스크립트 가이드</a></li>
                    <!-- <li class=""><a href="../layouts/layout.html">레이아웃</a></li> -->
                </ul>
            </nav>
        </header>

        <ul class="guideSubmenu">
            <li><a href="./slider.html">슬라이더</a></li>
            <li><a href="./button.html">버튼</a></li>
            <li><a href="./tab.html">탭</a></li>
            <li><a href="./form.html">폼</a></li>
            <li><a href="./list.html">리스트</a></li>
            <li><a href="./accordian.html">아코디언</a></li>
            <li><a href="./layerpopup.html">팝업</a></li>
            <li><a href="./unit.html">유닛</a></li>
        </ul>

        <div class="guideContainer">
            <section class="sample">
                <h2 class="sampleTitle">Typography</h2>
                <div class="sampleContent">

                    <h3><strong>Headline</strong></h3>
                    <p class="main-visual-title">
                        디케이비엠시
                    </p>
                    <p class="contents-title">
                        디케이비엠시
                    </p>
                    <p class="sub-contents-title">
                        디케이비엠시
                    </p>
                    <p class="main-txt">
                        디케이비엠시
                    </p>
                    <p class="main-emphasize">
                        디케이비엠시
                    </p>
                    <p class="normal-txt">
                        디케이비엠시
                    </p>
                    <p class="qos-txt">
                        디케이비엠시
                    </p>
                    <p class="small-txt">
                        디케이비엠시
                    </p>
                    <p class="small-depth-txt">
                        디케이비엠시
                    </p>


                    <br><br>
                </div>
                <div class="description">
                    <h3>GUIDE</h3>
                    <p>
                        @include mainVisualTxt; 로 사용
                    </p>
                </div>
            </section>

            <section class="sample">
                <h2 class="sampleTitle">20px 타이틀 종류</h2>
                <div class="sampleContent">
                    <div class="page-desc">
                        <h2>일반 타이틀</h2>
                    </div>

                    <div class="rq-form">
                        <h2 class="main-txt">rq-form용 타이틀</h2>

                        <br>

                        <div class="main-txt-group">
                            <h2 class="main-txt">How We Create Value?</h2>
                            <p class="txt">고객 가치(Customer Value)를 만들고 고객 성공(Customer Success)를 이어가는 것,<br>이것이 DK BMC의 차별화된 경쟁력입니다.</p>
                        </div>
                    </div>

                    <div class="fix-unit-group">
                        <h2 class="unit-tit-m">fix-unit-group용 중간타이틀</h2>
                    </div>

                    <div class="description">
                        <h3>GUIDE</h3>
                        <p>
                            각 타이틀의 여백(margin값)은 다를 수 있음<br>
                            * .page-desc는 일반적인 타이틀<br>
                            * .main-txt 타이틀은 .rq-form내서만 쓰는 타이틀<br>
                            &nbsp;&nbsp;(.main-txt-group은 .rq-form내 .main-txt타이틀 + 텍스트일때 사용)<br>
                            * .unit-tit-m 타이틀은 .fix-unit-group(텍스트컨텐츠 비중이 많은 컨텐츠)내에서만 쓰는 타이틀<br>
                        </p>
                    </div>
                </div>
            </section>

            <!-- <section class="sample">
                <h2 class="sampleTitle">아이콘 타이틀</h2>
                <div class="sampleContent">

                    <h3><strong>fix-unit-group용</strong></h3>
                    <div class="fix-unit-group">
                        <div class="tit-ico-wrap">
                            <img src="../../assets/images/pc/icon/ico-roll-paper-red.png" alt="">
                            <div class="tit-wrap">
                                <h2 class="unit-tit-b">How We Create Value?</h2>
                                <p class="unit-txt">
                                    고객 가치(Customer Value)를 만들고 고객 성공(Customer Success)를 이어가는 것,<br>이것이 DK BMC의 차별화된 경쟁력입니다.
                                </p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </section> -->

            <section class="sample">
                <h2 class="sampleTitle">Color System</h2>
                <div class="sampleContent">
                    <h3><strong>Grey Scale</strong></h3>
                    <div class="color-guide" style="background-color:#191919; color:#fff;">
                        $black;<br>
                        <strong style="color: #fff;">#191919;</strong>
                    </div>
                    <div class="color-guide" style="background-color:#f6f6f6; color:#191919;">
                        $gray01;<br>
                        <strong style="color: #fff;">#191919;</strong>
                    </div>
                    <div class="color-guide" style="background-color:#ddd; color:#191919;">
                        $gray02;<br>
                        <strong style="color: #fff;">#191919;</strong>
                    </div>
                    <div class="color-guide" style="background-color:#eee; color:#191919;">
                        $gray03;<br>
                        <strong style="color: #fff;">#191919;</strong>
                    </div>
                    <div class="color-guide" style="background-color:#959595; color:#191919;">
                        $gray04;<br>
                        <strong style="color: #fff;">#191919;</strong>
                    </div>
                    <div class="color-guide" style="background-color:#666; color:#fff;">
                        $gray05;<br>
                        <strong style="color: #fff;">#666666;</strong>
                    </div>
                    <div class="color-guide" style="background-color:#e34140; color:#fff;">
                        $red;<br>
                        <strong style="color: #fff;">#e34140;</strong>
                    </div>
                    <div class="color-guide" style="background-color:#7c40ce; color:#fff;">
                        $purple;<br>
                        <strong style="color: #fff;">#7c40ce;</strong>
                    </div>


                    <div class="description">
                        <h3>GUIDE</h3>

                        <p>
                            _variables.scss에 미리 정의해 둠. <br>
                        </p>
                        <h3>Example</h3>
                        <pre>
p {
    color: $gray01;
    background-color: $purple;
}
                        </pre>
                    </div>
                </div>
            </section>

        </div>

    </div>

    <!-- SCRIPT IMPORT -->
    @@include('../src/pages/includes/scriptImport.html', {pageMain : false,})

    <!-- LAYER POPUP -->
    @@include('./pages/includes/layerpopup.html')
</body>

</html>
