<!DOCTYPE html>
<html lang="ko">
    @@include('../src/pages/includes/guide/head.html', {title: '게시판 가이드 - DK BMC'})

<body>
    <div id="wsg-wrap" class="wsg">

        <header class="wsg-header">
            <h1>
                <a href="javascript:void(0);"><img src="/status/assets/logo.png" alt="U+ 유모바일"></a>
            </h1>
            <nav id="nav">
                <ul>
                    <li class=""><a href="wsg.html">웹스타일가이드</a></li>
                    <li class="on"><a href="slider.html">컴포넌트</a></li>
                    <li class=""><a href="scripts.html">스크립트 가이드</a></li>
                    <!-- <li class=""><a href="../layouts/layout.html">레이아웃</a></li> -->
                </ul>
            </nav>
        </header>

        <ul class="guideSubmenu">
            <li><a href="./button.html" >버튼</a></li>
            <li><a href="./form.html" >폼요소</a></li>
            <li><a href="./layerpopup.html" >레이어 팝업</a></li>
            <li><a href="./full-popup.html" >풀 팝업</a></li>
            <li><a href="./tab.html" >탭</a></li>
            <li><a href="./accordian.html" >아코디언</a></li>
            <li><a href="./slider.html" >슬라이더</a></li>
            <li><a href="./icons.html"  class="guideOn">아이콘</a></li>
            <li><a href="./table.html" >테이블</a></li>
            <li><a href="./list.html" >리스트</a></li>
            <li><a href="./list-thumb.html" >썸네일 리스트</a></li>
            <li><a href="./ui.html" >공통UI</a></li>
            <li><a href="./unit.html" >공통unit</a></li>
        </ul>

        <div class="guideContainer">

            <!-- chips -->
            <section class="sample">
                <h2 class="sampleTitle">chips</h2>
                <div class="sampleContent">
                    <div class="container">
                        <h3 style="margin: 10px 0; color: #000; font-weight:bold;">유심</h3>
                        <div class="chip-wrap">
                            <span><img src="/assets/images/chips/chip-best.png" alt="베스트"></span>
                            <span><img src="/assets/images/chips/chip-single-gift.png" alt="사은품"></span>
                            <span><img src="/assets/images/chips/chip-65years.png" alt="65세 이상만 가입 가능"></span>
                            <span><img src="/assets/images/chips/chip-6months.png" alt="6개월 요금할인"></span>
                            <span><img src="/assets/images/chips/chip-tablet.png" alt="테블릿 전용"></span>
                            <span><img src="/assets/images/chips/chip-20years.png" alt="20대 전용"></span>
                            <span><img src="/assets/images/chips/chip-npay-point.png" alt="nPay 포인트 적립"></span>
                            <span><img src="/assets/images/chips/chip-carWash.png" alt="세차권 증정"></span>
                        </div>
                       <br><br>
                        <h3 style="margin: 10px 0; color: #000; font-weight:bold;">eSIM</h3>
                        <div class="chip-wrap">
                            <span><img src="/assets/images/chips/chip-best.png" alt="베스트"></span>
                            <span><img src="/assets/images/chips/chip-single-gift.png" alt="사은품"></span>
                            <span><img src="/assets/images/chips/chip-65years.png" alt="65세 이상만 가입 가능"></span>
                        </div>
                        <br><br>
                        <h3 style="margin: 10px 0; color: #000; font-weight:bold;">휴대폰</h3>
                        <div class="chip-wrap">
                            <span><img src="/assets/images/chips/chip-gift.png" alt="사은품 혜택"></span>
                            <span><img src="/assets/images/chips/chip-popular.png" alt="인기"></span>
                            <span><img src="/assets/images/chips/chip-limited.png" alt="한정판매"></span>
                            <span><img src="/assets/images/chips/chip-reasonable.png" alt="갓성비"></span>
                            <span><img src="/assets/images/chips/chip-slevel.png" alt="s급"></span>
                            <span><img src="/assets/images/chips/chip-alevel.png" alt="a급"></span>
                            <span><img src="/assets/images/chips/chip-flagship.png" alt="플래그쉽"></span>
                            <span><img src="/assets/images/chips/chip-new.png" alt="신규"></span>
                        </div>
                    </div>
                </div>
            </section>
            <!--// chips -->
            <!-- chips -->
            <!-- <section class="sample">
                <h2 class="sampleTitle">badge</h2>
                <div class="sampleContent">
                    <div class="container badge-wrap">
                        <span class="badge purple">첫 달 50%<br>추가 할인</span>
                        <span class="badge skyblue">첫 달 50%<br>추가 할인</span>
                        <span class="badge pink">첫 달 50%<br>추가 할인</span>
                        <span class="badge lightorange">첫 달 50%<br>추가 할인</span>
                        <span class="badge blue">첫 달 50%<br>추가 할인</span>
                        <span class="badge red">첫 달 50%<br>추가 할인</span>
                        <span class="badge yellow">첫 달 50%<br>추가 할인</span>
                        <span class="badge blue">첫 달 50%<br>추가 할인</span>
                        <span class="badge orange">첫 달 50%<br>추가 할인</span>
                        <span class="badge green">첫 달 50%<br>추가 할인</span>
                        <span class="badge mint">첫 달 50%<br>추가 할인</span>
                        <span class="product-badge">5G</span>
                    </div>
                </div>
            </section> -->
            <!--// chips -->


        </div>

    </div>

    <!-- SCRIPT IMPORT -->
    @@include('../src/pages/includes/scriptImport.html', {pageMain : false,})

    <!-- LAYER POPUP -->
    @@include('./pages/includes/layerpopup.html')
</body>

</html>
