<!DOCTYPE html>
<html lang="ko">
@@include('../src/pages/includes/guide/head.html', {title: '카드리스트 - DK BMC'})

<body>
    <div id="wsg-wrap" class="wsg">

        <header class="wsg-header">
            <h1>
                <a href="javascript:void(0);"><img src="/status/assets/logo.png" alt="U+ 유모바일"></a>
            </h1>
            <nav id="nav">
                <ul>
                    <li class=""><a href="wsg.html">웹스타일가이드</a></li>
                    <li class="on"><a href="slider.html">컴포넌트</a></li>
                    <li class=""><a href="scripts.html">스크립트 가이드</a></li>
                    <!-- <li class=""><a href="../layouts/layout.html">레이아웃</a></li> -->
                </ul>
            </nav>
        </header>

        <ul class="guideSubmenu">
            <li><a href="./button.html" >버튼</a></li>
            <li><a href="./form.html" >폼요소</a></li>
            <li><a href="./layerpopup.html" >레이어 팝업</a></li>
            <li><a href="./full-popup.html" >풀 팝업</a></li>
            <li><a href="./tab.html" >탭</a></li>
            <li><a href="./accordian.html" >아코디언</a></li>
            <li><a href="./slider.html" >슬라이더</a></li>
            <li><a href="./icons.html" >아이콘</a></li>
            <li><a href="./table.html" >테이블</a></li>
            <li><a href="./list.html" >리스트</a></li>
            <li><a href="./list-thumb.html"  class="guideOn">썸네일 리스트</a></li>
            <li><a href="./ui.html" >공통UI</a></li>
            <li><a href="./unit.html" >공통unit</a></li>
        </ul>

        <div class="guideContainer">
            <section class="sample">
                <h2 class="sampleTitle">동영상 리스트</h2>
                <div class="sampleContent">
                    <ul class="video-thumb-list">
                        <li class="video-item">
                            <a href="#">
                                <div class="video-thumb">
                                    <img src="/assets/images/pc/temp/imsi-listCard.png" alt="">
                                </div>
                                <div class="video-title">
                                    <strong>eSIM QR 다운로드</strong>
                                </div>
                            </a>
                        </li>
                        <li class="video-item">
                            <a href="#">
                                <div class="video-thumb">
                                    <img src="/assets/images/pc/temp/imsi-listCard.png" alt="">
                                </div>
                                <div class="video-title">
                                    <strong>eSIM 수동 입력 활성화</strong>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="sample">
                <h2 class="sampleTitle">큰썸네일 리스트</h2>
                <div class="sampleContent">
                    <ul class="back-thumb-list">
                        <li class="back-thumb-card">
                            <a href="#">
                                <div class="back-conts">
                                    <div class="back-header">
                                        <h3>데이터 걱정없이 무한으로!</h3>
                                        <p>자급제폰케어 5G (10GB/3,000분)</p>
                                        <div class="feature">
                                            <span class="vol">음성 무제한</span>
                                            <span class="limit">문자 무제한</span>
                                        </div>
                                        <div class="pay-amount">
                                            <span class="origin-pay">23,500원</span>
                                            <strong class="discount-pay">9,900원</strong>
                                        </div>
                                    </div>
                                    <div class="box-btn">
                                        <div class="box-btn">
                                            <button class="btns h-sm  md-ripples ripples-light" type="button">가입하기</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="back-bg">
                                    <img src="/assets/images/pc/temp/imsi-sangpum-list-img01.png" alt="">
                                </div>
                            </a>
                        </li>
                        <li class="back-thumb-card">
                            <a href="#">
                                <div class="back-conts">
                                    <div class="back-header">
                                        <h3>데이터 걱정없이 무한으로!</h3>
                                        <p>1GB+1Mbps</p>
                                        <div class="feature">
                                            <span class="vol">음성 무제한</span>
                                            <span class="limit">문자 무제한</span>
                                        </div>
                                        <div class="pay-amount">
                                            <span class="origin-pay">23,500원</span>
                                            <strong class="discount-pay">9,900원</strong>
                                        </div>
                                    </div>
                                    <div class="box-btn">
                                        <div class="box-btn">
                                            <button class="btns h-sm  md-ripples ripples-light" type="button">가입하기</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="back-bg">
                                    <img src="../../assets/images/pc/banner/phone-detail-banner-01.jpg" alt="">
                                </div>
                            </a>
                        </li>
                        <li class="back-thumb-card">
                            <a href="#">
                                <div class="back-conts">
                                    <div class="back-header">
                                        <h3>데이터 걱정없이 무한으로!</h3>
                                        <p>1GB+1Mbps</p>
                                        <div class="feature">
                                            <span class="vol">음성 무제한</span>
                                            <span class="limit">문자 무제한</span>
                                        </div>
                                        <div class="pay-amount">
                                            <span class="origin-pay">23,500원</span>
                                            <strong class="discount-pay">9,900원</strong>
                                        </div>
                                    </div>
                                    <div class="box-btn">
                                        <div class="box-btn">
                                            <button class="btns h-sm  md-ripples ripples-light" type="button">가입하기</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="back-bg">
                                    <img src="/assets/images/pc/temp/imsi-sangpum-list-img03.png" alt="">
                                </div>
                            </a>
                        </li>
                    </ul>

                    <br><br>

                    <ul class="back-thumb-list type-free">
                        <li class="back-thumb-card thumb-b">
                            <a href="#">
                                <div class="back-conts">
                                    <div class="back-header">
                                        <h3>데이터 걱정없이 무한으로!</h3>
                                        <p>1GB+1Mbps</p>
                                        <div class="feature">
                                            <span class="limit">음성 무제한</span>
                                            <span class="supply">문자 무제한</span>
                                        </div>
                                    </div>

                                    <div class="back-footer">
                                        <div class="pay-amount">
                                            <span class="origin-pay">월45,900원</span>
                                            <strong class="discount-pay">월33,900원</strong>
                                        </div>

                                        <div class="box-btn">
                                            <button class="btns h-sm  md-ripples ripples-light" type="button">가입하기</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="back-bg">
                                    <img src="/assets/images/pc/temp/imsi-sangpum-list-img01.png" alt="">
                                </div>
                            </a>
                        </li>
                        <li class="back-thumb-card thumb-m">
                            <a href="#">
                                <div class="back-conts">
                                    <div class="back-header">
                                        <h3>데이터 걱정없이 무한으로!</h3>
                                        <p>1GB+1Mbps</p>
                                        <div class="feature">
                                            <span class="limit">음성 무제한</span>
                                            <span class="supply">문자 무제한</span>
                                        </div>
                                    </div>

                                    <div class="back-footer">
                                        <div class="pay-amount">
                                            <span class="origin-pay">월45,900원</span>
                                            <strong class="discount-pay">월33,900원</strong>
                                        </div>

                                        <div class="box-btn">
                                            <button class="btns h-sm  md-ripples ripples-light" type="button">가입하기</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="back-bg">
                                    <img src="/assets/images/pc/temp/imsi-sangpum-list-img01.png" alt="">
                                </div>
                            </a>
                        </li>
                        <li class="back-thumb-card">
                            <a href="#">
                                <div class="back-conts">
                                    <div class="back-header">
                                        <h3>데이터 걱정없이 무한으로!</h3>
                                        <p>1GB+1Mbps</p>
                                        <div class="feature">
                                            <span class="limit">음성 무제한</span>
                                            <span class="supply">문자 무제한</span>
                                        </div>
                                    </div>

                                    <div class="back-footer">
                                        <div class="pay-amount">
                                            <span class="origin-pay">월39,800원</span>
                                            <strong class="discount-pay">월17,300원</strong>
                                        </div>
                                        <div class="box-btn">
                                            <button class="btns h-sm  md-ripples ripples-light" type="button">가입하기</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="back-bg">
                                    <img src="/assets/images/pc/temp/imsi-sangpum-list-img02.png" alt="">
                                </div>
                            </a>
                        </li>
                        <li class="back-thumb-card">
                            <a href="#">
                                <div class="back-conts">
                                    <div class="back-header">
                                        <h3>데이터 걱정없이 무한으로!</h3>
                                        <p>1GB+1Mbps</p>
                                        <div class="feature">
                                            <span class="limit">음성 무제한</span>
                                            <span class="supply">문자 무제한</span>
                                        </div>
                                    </div>
                                    <div class="back-footer">
                                        <div class="pay-amount">
                                            <span class="origin-pay">23,500원</span>
                                            <strong class="discount-pay">9,900원</strong>
                                        </div>
                                        <div class="box-btn">
                                            <button class="btns h-sm  md-ripples ripples-light" type="button">가입하기</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="back-bg">
                                    <img src="/assets/images/pc/temp/imsi-sangpum-list-img03.png" alt="">
                                </div>
                            </a>
                        </li>
                        <li class="back-thumb-card">
                            <a href="#">
                                <div class="back-conts">
                                    <div class="back-header">
                                        <h3>데이터 걱정없이 무한으로!</h3>
                                        <p>1GB+1Mbps</p>
                                        <div class="feature">
                                            <span class="limit">음성 무제한</span>
                                            <span class="supply">문자 무제한</span>
                                        </div>

                                    </div>
                                    <div class="back-footer">
                                        <div class="pay-amount">
                                            <span class="origin-pay">23,500원</span>
                                            <strong class="discount-pay">9,900원</strong>
                                        </div>
                                        <div class="box-btn">
                                            <button class="btns h-sm  md-ripples ripples-light" type="button">가입하기</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="back-bg">
                                    <img src="/assets/images/pc/temp/imsi-sangpum-list-img04.png" alt="">
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>

            <section class="sample">
                <h2 class="sampleTitle">세로형 - 이미지 + 텍스트 카드</h2>
                <div class="sampleContent">
                    <div class="img-cardList">
                        <section class="cardList-wrap">
                            <div class="cardList-img">
                                <img src="/assets/images/pc/temp/temp-friend-present.jpg" alt="">
                                <span class="date">D-23</span>
                            </div>
                            <div class="cardList-desc">
                                <h3 class="main-title">
                                    이벤트 목록 제목은 최대 두줄까지 표시되며 초과된 문구는 말줄임 표시가 이벤트 목록 제목은 최대 두줄까지 표시되며 초과된 문구는 말줄임 표시가 이벤트 목록 제목은 최대 두줄까지 표시되며 초과된 문구는 말줄임 표시가 이벤트 목록 제목은 최대 두줄까지 표시되며 초과된 문구는 말줄임 표시가 이벤트 목록 제목은 최대 두줄까지 표시되며 초과된 문구는 말줄임 표시가
                                </h3>
                                <h4 class="sub-title">통신비 절약에 특별한 새로운 혜택~</h4>
                                <p class="period"><span>2022.05.24</span> ~ <span> 2022.05.31</span></p>
                            </div>
                        </section>
                        <section class="cardList-wrap">
                        <div class="cardList-img">
                            <img src="/assets/images/pc/temp/temp-friend-present.jpg" alt="">
                            <span class="date">D-23</span>
                        </div>
                        <div class="cardList-desc">
                            <h3 class="main-title">
                                이벤트 목록 제목은 최대 두줄까지 표시되며 초과된 문구는 말줄임 표시가 이벤트 목록 제목은 최대 두줄까지 표시되며 초과된 문구는 말줄임 표시가 이벤트 목록 제목은 최대 두줄까지 표시되며 초과된 문구는 말줄임 표시가 이벤트 목록 제목은 최대 두줄까지 표시되며 초과된 문구는 말줄임 표시가 이벤트 목록 제목은 최대 두줄까지 표시되며 초과된 문구는 말줄임 표시가
                            </h3>
                            <h4 class="sub-title">통신비 절약에 특별한 새로운 혜택~</h4>
                            <p class="period"><span>2022.05.24</span> ~ <span> 2022.05.31</span></p>
                        </div>
                    </section>
                    </div>
                </div>
            </section>

            <section class="sample">
                <h2 class="sampleTitle">세로형 - 이미지 + 텍스트 카드 예시</h2>
                <div class="sampleContent">
                <section class="going-list-wrap">
                    <a href="#" class="cardList-wrap">
                        <div class="cardList-img">
                            <img src="/assets/images/pc/temp/temp-ing-event.jpg" alt="">
                        </div>
                        <div class="cardList-desc type-dday">
                            <h3 class="main-title">
                                6월 미리 썸머 이벤트 이벤트 목록 제목은 최대 두줄까지 표시되며 초과된 문구는 말줄임 표시가최대 두줄까지 표시되며 초과된 문구는 말줄임 표시가최대 두줄까지 표시되며 초과된 문구는 말줄임 표시가최대 두줄까지 표시되며 초과된 문구는 말줄임 표시가
                            </h3>
                            <span class="d-day">D-23</span>
                            <p class="period"><span>2022.05.24</span> ~ <span> 2022.05.31</span></p>
                        </div>
                    </a>
                    <a href="#" class="cardList-wrap">
                        <div class="cardList-img">
                            <img src="/assets/images/pc/temp/temp-ing-event.jpg" alt="">
                        </div>
                        <div class="cardList-desc">
                            <h3 class="main-title">
                                6월 미리 썸머 이벤트 이벤트 목록 제목은 최대 두줄까지 표시되며 초과된 문구는 말줄임 표시가최대 두줄까지 표시되며 초과된 문구는 말줄임 표시가최대 두줄까지 표시되며 초과된 문구는 말줄임 표시가최대 두줄까지 표시되며 초과된 문구는 말줄임 표시가
                            </h3>
                            <p class="period"><span>2022.05.24</span> ~ <span> 2022.05.31</span></p>
                        </div>
                    </a>
                    <a href="#" class="cardList-wrap">
                        <div class="cardList-img">
                            <img src="/assets/images/pc/temp/temp-ing-event.jpg" alt="">
                        </div>
                        <div class="cardList-desc">
                            <h3 class="main-title">
                                아낌없이 드리는 데이터! 역시 유알모!
                            </h3>
                            <span class="d-day">D-23</span>
                            <p class="period"><span>2022.05.24</span> ~ <span>응모 마감까지</span></p>
                        </div>
                    </a>
                    <a href="#" class="cardList-wrap">
                        <div class="cardList-img">
                            <img src="/assets/images/pc/temp/temp-ing-event.jpg" alt="">
                        </div>
                        <div class="cardList-desc">
                            <h3 class="main-title">
                                아낌없이 드리는 데이터! 역시 유알모!
                            </h3>
                            <p class="period"><span>2022.05.24</span> ~ <span> 2022.05.31</span></p>
                        </div>
                    </a>
                    <a href="#" class="cardList-wrap">
                        <div class="cardList-img">
                            <img src="/assets/images/pc/temp/temp-ing-event.jpg" alt="">
                        </div>
                        <div class="cardList-desc type-dday">
                            <h3 class="main-title">
                                통화는 마음껏, 데이터는 필요한 만큼!통화는 마음껏, 데이터는 필요한 만큼!
                            </h3>
                            <span class="d-day">D-23</span>
                            <p class="period"><span>2022.05.24</span> ~ <span> 2022.05.31</span></p>
                        </div>
                    </a>
                    <a href="#" class="cardList-wrap">
                        <div class="cardList-img">
                            <img src="/assets/images/pc/temp/temp-ing-event.jpg" alt="">
                        </div>
                        <div class="cardList-desc type-dday">
                            <h3 class="main-title">
                                아낌없이 드리는 데이터! 역시 유알모!
                            </h3>
                            <span class="d-day">D-23</span>
                            <p class="period"><span>2022.05.24</span> ~ <span>응모 마감까지</span></p>
                        </div>
                    </a>
                </section>
                </div>
            </section>
        </div>
    <!-- LAYER POPUP -->
    @@include('../src/pages/products/payment-qos-layerPopup.html')

    <!-- SCRIPT IMPORT -->
    @@include('../src/pages/includes/scriptImport.html', {pageMain : false,})
    </div>
</body>
</html>
